[2019-08-26 05:34] ritesh-karmare opened #1 "java.lang.IllegalStateException: failed to get surface"
**This happens when I set the outputPath =  `getFilesDir() + "/demoVideos"`**

`java.lang.RuntimeException: Unable to start service com.hbisoft.hbrecorder.ScreenRecordService@72a1038 with Intent { cmp=com.app.guarddoor/com.hbisoft.hbrecorder.ScreenRecordService (has extras) }: java.lang.IllegalStateException: failed to get surface
        at android.app.ActivityThread.handleServiceArgs(ActivityThr

[2019-08-26 06:11] HBiSoft commented on #1
Did you create the folder before passing it too `HBRecorder`?

I tested with the demo app, if the folder is not created before passing the path, it will cause this.

First create the folder, by doing the following:

    String dirPath = getFilesDir() + File.separator + "demoVideos";
    File mFolder = new File(dirPath);
    if (!mFolder.exists()){
        mFolder.mkdirs();
    }

Then passing the

[2019-08-26 06:25] ritesh-karmare commented on #1
@HBiSoft  Thanks that WORKED!

[2019-08-26 06:25] #1 closed

[2019-09-27 14:23] vvalladolidIV opened #2 "Stop record cause crash"
When invoke to .stopScreenRecording(data) cause this crash. Attach Android Studio console
result:

![traza](https://user-images.githubusercontent.com/32733254/65776659-dc340a80-e142-11e9-85e2-c1b95f65b88b.png)

Any idea?
Thank you very much

[2019-09-27 14:47] HBiSoft commented on #2
"When invoke to `.stopScreenRecording(data)` cause this crash." Can you please elaborate?

You should not pass data when stopping the recording, you should only call:

    hbRecorder.stopScreenRecording();

[2019-09-28 09:27] vvalladolidIV commented on #2
Yes, of course.
I am working in a Flutter Plugin to screen recorder.
Get to record is all fine but when I try stop it get an exception in FileObserver.
It start and stop recording trought onActivityResult listener, let code:

[code]
Sorry for the ".stopScreenRecording(data)". It was a mistake.

[2019-09-28 09:38] HBiSoft commented on #2
Do you set a custom path `hbRecorder?.setOutputPath(path)`?

[2019-09-28 10:10] vvalladolidIV commented on #2
I want to do it but I have still do not. Do you think its relationated?

[2019-09-28 10:14] vvalladolidIV commented on #2
Yes :) I have set a custom path and all fine.
Thank you very much.

[2019-09-28 12:13] #2 closed

[2019-10-06 06:53] MrNouri opened #3 "Stop application when start recording"
**Describe the bug**
When click on start button show me force close error

**Log**
[code]

**HBRecorder version**
for example 1.0.1

**Device information**
- LG K430
- Android 6

[2019-10-06 07:07] HBiSoft commented on #3
Can you reproduce the crash in the demo application?

[2019-10-06 07:16] MrNouri commented on #3
Yes, i clone your project and after run application on LG K430 when click on start button (from your app) show me above error!

[2019-10-06 07:23] HBiSoft commented on #3
I think I know why it's happening. Can you download [this](https://play.google.com/store/apps/details?id=com.ellevsoft.mediacodecinfo&hl) application and check what video encoder your device supports for AVC (H264)?

[2019-10-06 07:27] HBiSoft commented on #3
If it does, you will see the following:

![Screenshot_20191006-092557_Media Codec Info](https://user-images.githubusercontent.com/35602540/66265731-871b8700-e81b-11e9-89d9-02076405eb86.jpg)

[2019-10-06 07:55] MrNouri commented on #3
In suggested app show me 4 AVC(H264)
Max resolutions **896*896** and **1920*1072** are supported ! ( **Encoder** )
Max resolutions **2048*2048** and **1920*1088** are not supported ! ( **Decoder** )

[2019-10-06 08:23] HBiSoft commented on #3
The only thing I can think of is the order at which the parameters are set could be incorrect. You said you cloned the project, can you try and change line 186-219 inside ScreenRecordService to the following:

MediaRecorder mediaRecorder = new MediaRecorder();

        if (isAudioEnabled) {
            mediaRecorder.setAudioSource(MediaRecorder.AudioSource.MIC);
        }
        mediaRecorder.set

[2019-10-06 09:15] MrNouri commented on #3
Thanks dear for fix above error.
I paste your code in line 189-219 fix above error.
But after finished recorder and play video show me with below effect!
https://i.stack.imgur.com/uGsNM.png
**Distortion** in recorded video

[2019-10-06 10:38] HBiSoft commented on #3
Are you recording HD or SD video?

[2019-10-06 10:52] MrNouri commented on #3
HD . can you fix it?

[2019-10-06 10:54] MrNouri commented on #3
I check SD and again show video above effect!

[2019-10-06 11:41] HBiSoft commented on #3
Try removing the following in ScreenRecordingService:

    if (!isVideoHD) {
        mediaRecorder.setVideoEncodingBitRate(5000000);
        mediaRecorder.setVideoFrameRate(30);
    } else {
        mediaRecorder.setVideoEncodingBitRate(5 * mScreenWidth * mScreenHeight);
        mediaRecorder.setVideoFrameRate(60); //after setVideoSource(), setOutFormat()
    }

[2019-10-06 11:52] MrNouri commented on #3
I try this. not fix and video played such as above!

[2019-10-06 12:09] HBiSoft commented on #3
I see you have Az Screen Recorder installed on your device, I assume it's working as you want. Please tell me what your settings are in Az?

[2019-10-06 12:11] MrNouri commented on #3
Yes installed AzRecorder app, I didn't change the default changes

[2019-10-06 16:26] HBiSoft commented on #3
I will update the library tomorrow and provide more control over the settings..

[2019-10-07 06:10] MrNouri commented on #3
Thanks dear, i will wait you

[2019-10-07 06:18] HBiSoft commented on #3
Before I update the library, can you try changing:

    mediaRecorder.setOutputFormat(MediaRecorder.OutputFormat.THREE_GPP);

to

    mediaRecorder.setOutputFormat(MediaRecorder.OutputFormat.MPEG_4);

in ScreenRecordingService.

[2019-10-07 06:36] MrNouri commented on #3
I try your new code, but not work again :(

[2019-10-07 06:40] MrNouri commented on #3
I uploaded recorded video , please see this : [http://uupload.ir/view/b43_sd2019-10-07-10-07-41.mp4/](url)

[2019-10-07 13:12] HBiSoft commented on #3
I just started working on upgrading the demo project. I can not reproduce this issue on my devices, you will have to wait until I release the new version later today and then test all the available parameters to find the issue.

[2019-10-07 17:47] zubairrahmani opened #4 "saved video is not playing on android 8 in 4.4.4 it work fine"

[2019-10-07 18:07] HBiSoft commented on #4
There is no way for me to even start debugging the issue with the information you have provided.

Can you reproduce this in the demo app?
Does it happen with SD and HD recording?
What version are you using?

Side note - it should not be working on 4.4.4. MediaProjection API was introduced in Android 5 (API 21 - Lollipop) - https://developer.android.com/reference/android/media/projection/MediaProje

[2019-10-07 18:14] zubairrahmani commented on #4
It's work on my android phone 4.4.4
But in my Android 8.1.0 it record the video but video is not playing  thanks

[2019-10-08 04:38] HBiSoft commented on #4
I'm closing this issue until you can provide more information.

[2019-10-08 04:38] #4 closed

[2019-10-09 14:56] HBiSoft commented on #3
Sorry for the wait. I have just updated the library. Please try different settings in the demo application and check if you can find a setting that works for your device. Please let me know.

[2019-10-10 07:08] HBiSoft commented on #3
The only thing that I can think of besides what we have already tried is to enable/disable hardware acceleration.

You can do this by adding the following in your app level gradle file:

    <application android:hardwareAccelerated="true" ...>

If that doesn't work, go into Az screen recorder and send me the settings that are selected.

[2019-10-11 06:53] HBiSoft commented on #3
Did you try it?

[2019-10-13 05:10] MrNouri commented on #3
yes my friend, but again not work me!!!

[2019-10-13 05:16] HBiSoft commented on #3
Read the last part of my comment above `If that doesn't work, go into Az screen recorder and send me the settings that are selected.`

[2019-10-14 10:02] HBiSoft commented on #3
I'm closing this issue since there is nothing that I can do about this without having this device to test with. The issue clearly has something to do with the selected codec and the parameters that are passed to it. I will wait and see if someone else opens a similar issue in the future.

[2019-10-14 10:02] #3 closed

[2019-10-29 08:20] HBiSoft commented on #3
@MrNouri Were you able to find out what was wrong?

[2019-10-29 13:12] MrNouri commented on #3
Sorry for the delay in answer.
Unfortunately, I couldn't find the problem.I think they use another way to record video

[2019-10-29 13:49] HBiSoft commented on #3
There is no other way unless your device is rooted. I'm 100% sure that it is caused by passing the wrong values to `MediaRecorder`. If I had your device I could have done tests myself.

If you really want to find the cause, open AZ Screen recorder's settings and modify `ScreenRecordService.java` to match it.

I have asked you multiple times to provide me the options that are set in AZScreenRecorde

[2019-11-13 06:18] FazliMolaJan opened #5 "How to pause the recording?"
Like I want to pause the screen recording while it is recording and restart it again from there? How I can do it?

[2019-11-14 09:46] HBiSoft commented on #5
I will implement this soon.

[2020-01-14 07:15] HBiSoft commented on #5
The only way I was able to do this is to create different video files each time the video is paused/resumed and then merge them together.

There is a library called [Mp4Parser](https://github.com/sannies/mp4parser) that can merge the files.

Implement the library into your project then you can merge the files like this:

[code]

You can also use FFmpeg to merge the files.

---
I will be closing th

[2020-01-14 07:15] #5 closed

[2020-01-15 04:43] HBiSoft commented on #3
@MrNouri
I thought that I would let you know that I have improved error handling. With this release, we will at least know if `MediaRecorder` prepares successfully. I also changed the order of when `MediaRecorder` gets initialized.

If you still have not resolved this issue, please try the new release.

[2020-01-16 18:02] MrNouri commented on #3
Thanks my dear friend.<br>
I'll test in two days and say to you the result

[2020-01-21 03:43] HBiSoft commented on #3
@MrNouri
Did you test it?

[2020-01-21 11:12] HBiSoft commented on #3
@MrNouri
Ok, but what did the log say?

[2020-01-23 10:45] MrNouri commented on #3
Yes, but how can i send you?
How do I get the log for you?

[2020-01-23 10:51] HBiSoft commented on #3
@MrNouri

What do you mean? You send it the same way as you did above?

[2020-02-20 09:35] ritesh-karmare opened #6 "Crash onClick of Start recording"
Hi @HBiSoft ,

I executed the HBRecorder Example, on click of start button, the app crashes (irrespective of customSettings on/off).
- Device : Moto G7 Power
- Operation System : Android 9 (Pie)
- All permissions are given

So in logs I can see 2 exceptions:
1. FileNotFoundException
2. IllegalStateException : failed to get the surface

**Following are the logs:**
[code]

[2020-02-20 10:12] HBiSoft commented on #6
Please try and change

https://github.com/HBiSoft/HBRecorder/blob/2a6a75e7be4af139118e31c3924b3710508745d1/hbrecorder/src/main/java/com/hbisoft/hbrecorder/ScreenRecordService.java#L161

To:

[code]

[2020-02-20 10:20] ritesh-karmare commented on #6
@HBiSoft Thanks, thats fixed now.

However, there are two more exceptions:

[code]

[code]

[2020-02-20 10:29] HBiSoft commented on #6
Try and disable the audio and see if the first issue goes away.

[2020-02-20 10:33] ritesh-karmare commented on #6
No changes. Still both the issues exists

[2020-02-20 10:35] HBiSoft commented on #6
It has something to do with the parameters set, I will look into this and get back to you. In the meantime you can try custom settings and see if there is any settings that works on your device.

[2020-02-20 12:26] ritesh-karmare commented on #6
This is the device width x height = 720 x 1371
recorder.setVideoSize(width, height);
**It throws the illegalStateExceptionError : unable to get surface**

However, when we set a valid resolution like 480 * 854, 720*1280 etc as recorder.videoSize and set it while creating virtualDisplay, it is working fine!!!

[2020-02-20 12:32] HBiSoft commented on #6
How did you get this dimensions?

[2020-02-20 12:53] ritesh-karmare commented on #6
These dimensions I took from your sample.
Basically, 640 x 360, 854 x 480, 1280 x 720, 1920 x 1080 have an aspect ratio of 16:9, which is what I had required for screen recording.

[2020-02-20 12:58] HBiSoft commented on #6
Ah ok, I see what the problem is. I set the width and height to be the same as the screen dimension -

https://github.com/HBiSoft/HBRecorder/blob/2a6a75e7be4af139118e31c3924b3710508745d1/hbrecorder/src/main/java/com/hbisoft/hbrecorder/HBRecorder.java#L128

But this does not mean it is supported by the device, I will update the application later today.

[2020-02-20 12:59] ritesh-karmare commented on #6
Sure. I will look forward to it.

Thanks.

[2020-02-20 13:58] HBiSoft commented on #6
Can you test something for me? ->

Create a class in any project and call it `HBRecorderCodecInfo` and paste the following in that class:

[code]
Now in your Activity `onCreate` add the following:

[code]

Run the application and let me know what the log says, it will be something like:

`MaxSupportedSizes --: WIDTH = 864 HEIGHT = 1536`

[2020-02-21 11:43] HBiSoft commented on #6
@ritesh-karmare
Did you see my previous comment?

[2020-02-21 11:58] ritesh-karmare commented on #6
@HBiSoft
Sorry, missed the comment somehow.
I executed the above code, its printing the following:
**MaxSupportedSizes --: WIDTH = 720 HEIGHT = 1520**

[2020-02-21 12:05] HBiSoft commented on #6
@ritesh-karmare
Thank you.
Can you change:

https://github.com/HBiSoft/HBRecorder/blob/2a6a75e7be4af139118e31c3924b3710508745d1/hbrecorder/src/main/java/com/hbisoft/hbrecorder/ScreenRecordService.java#L369

to

[code]
and see if it is working?

[2020-02-21 12:09] ritesh-karmare commented on #6
Yes, I did. And it's working!

[2020-02-21 12:11] HBiSoft commented on #6
Ok I will be updating later today, until then you can use the class above to determine the dimensions if you do not want to wait for the update.

[2020-02-21 12:29] ritesh-karmare commented on #6
Sure. I will consider it as resolved and close the issue
Thanks for the support @HBiSoft.

[2020-02-21 12:29] #6 closed

[2020-02-21 14:20] HBiSoft commented on #6
This is now fixed in `0.1.6`. You do not have to set the screen dimensions, it will select the heighest value supported by your device.

[2020-02-21 18:51] HBiSoft commented on #3
This issue is fixed in `0.1.6`. We had the same happen in #6 and was able to find/fix the issue.

[2020-02-24 18:57] shehroz76 opened #7 "Error and Complete Listener not triggered"
Error and Complete Listener not triggered
And let me know how to save the file in gallery?

[2020-02-25 03:06] HBiSoft commented on #7
Closing this issue. You can open a new issue and fill in the issue form providing the logs, device model, steps to reproduce etc.

As the question is now, it's impossible to figure out what the issue is.

[2020-02-25 03:06] #7 closed

[2020-04-18 13:35] Mirzaali-innovagictechnologies opened #8 "Add android:foregroundServiceType="mediaProjection" Service tag under manifest for Android Pie and Android Q support also android:requestLegacyExternalStorage="true" in application tag for android 10 storage permission."
Before filing a bug:
-----------------------
- Please fill in all the information below.
- Have a look at previously asked questions to see if your issue has been resolved.
- Properly format your issue.
- All issues should be asked in English.
- Delete all the above before posting your issue

**Describe the bug**
A clear and concise description of what the bug is.

**Log**
Please provide a well fo

[2020-04-18 14:31] HBiSoft commented on #8
Please format your question properly (describing the issue as the bug template states) and providing a proper title.
---

Currently, this library is targeting API 28, so there is no need to add `android:foregroundServiceType="mediaProjection"`. If you wanted me to increase the target API, then it should have been your question.

As for the `android:requestLegacyExternalStorage="true"`:
It is not u

[2020-04-18 14:31] #8 closed

[2020-04-28 06:13] osfunapps opened #9 "Add Android Q support"
Hey,
Great library!

There is an issue with:
`getExternalStoragePublicDirectory()` is no longer supported starting Android Q and forward.

Can you add a way to do this? I suggest to use:

[code]
But probably with the props the user set.

The answer is from here:
[https://stackoverflow.com/questions/20523658/how-to-create-application-specific-folder-in-android-gallery](https://stackoverflow.com/que

[2020-04-28 06:14] osfunapps commented on #9
oops sorry. Saw just now that this library is not maintainable anymore for future devices.

Thanks!

[2020-04-28 06:14] #9 closed

[2020-04-28 07:58] HBiSoft commented on #9
@osfunapps
"Saw just now that this library is not maintainable anymore for future devices."

This is not true. I will increase the API version (hopefully today).
I wanted to wait for the Android R release before doing this.

[2020-05-03 20:42] charlesbel opened #10 "Could not start video recording..."
Hi, I was testing your very interesting library with a simple code provided in the README :

[code]

But when I try to start the recording, I see the Recording Prompt message from Android, I click on Start Now and the app crash.

On the Log I can see the following errors :
[code]

I am using the last version of your Library because I just downloaded it from Gradle.

I tried on an Android 10 SDK 29

[2020-05-04 07:57] HBiSoft commented on #10
The problem is with the output file path passed, try adding:

[code]
underneath
[code]

---
Also, please test on an actual device instead of the emulator.

[2020-05-04 08:14] charlesbel commented on #10
I tried to add the line you send but same problem...
I also tried on a phisycal Samsung Galaxy S10+ SDK 29 but it exit with the same error code...

[2020-05-04 08:37] HBiSoft commented on #10
The strange thing is what you are saying that the crash happens when you start the recording, but the crash is pointing to `mMediaProjection.stop();`.

This tells me that there is something else causing `onDestroy` to get called and triggering `MediaProjection.stop();`.

Please try the demo application and provide the entire log (from when you press "Start Now").

[2020-05-04 10:17] charlesbel commented on #10
It works with your sample app so I will try to reduce your code to the minimum to see where is the problem, I get back to you soon

[2020-05-04 11:49] charlesbel commented on #10
I simplified your code, on your project it works perfectly, but when I transfer it my project, it crashed.
By Simplifing the code, I could know that the error that make crash the app is that error :

`2020-05-04 13:46:29.479 5098-5098/fr.gooddev.totalspy E/HBRecorderOnError: java.lang.SecurityException: Media projections require a foreground service of type ServiceInfo.FOREGROUND_SERVICE_TYPE_MEDI

[2020-05-04 13:12] HBiSoft commented on #10
@charlesbel
Aha, are you targeting SDK 29? If you are, try reverting back to 28 (just to test).

[2020-05-04 13:20] charlesbel commented on #10
I modified my gradle config file to target sdk 28 and it works perfectly !

[2020-05-04 13:30] HBiSoft commented on #10
Ok great. I will modify the library later today (or tomorrow morning) to target 29 instead.

[2020-05-06 08:05] HBiSoft commented on #10
I have migrated the project to Android 10 (API 29). [Here is the release.](https://github.com/HBiSoft/HBRecorder/releases/tag/0.1.7)

[2020-05-06 08:05] #10 closed

[2020-05-06 08:06] HBiSoft commented on #9
I have migrated the library to Android 10 (API 29). [Here is the release](https://github.com/HBiSoft/HBRecorder/releases/tag/0.1.7)

[2020-05-06 08:06] HBiSoft commented on #8
I have migrated the library to Android 10 (API 29). [Here is the release](https://github.com/HBiSoft/HBRecorder/releases/tag/0.1.7)

[2020-05-06 13:17] osfunapps commented on #9
Great! You surely have a great library man!

[2020-05-07 08:42] osfunapps commented on #10
Thanks for the update! Unfortunately,  `Environment.getExternalStoragePublicDirectory(Environment.DIRECTORY_MOVIES)` is no longer accessible to Android Q devices, causing crash to some of them. The reason is that `Environment.getExternalStoragePublicDirectory` is deprecated:

To improve user privacy, direct access to shared/external storage devices is deprecated. When an app targets Build.VERSION_

[2020-05-07 11:24] HBiSoft commented on #10
@osfunapps
I'm aware of this, that is why there is an option to pass your own path - `hbRecorder.setOutputPath(String)`.

---

If you want the file to be available in the public storage directory, I would recommend the following:

Create a directory in your application directory-
[code]
Pass the path of the directory created to `HBRecorder`-
[code]

Then you can do what Frank mentioned in the link

[2020-05-07 14:29] osfunapps commented on #10
Thanks for everything. I will use your solution

[2020-05-09 09:52] HBiSoft commented on #10
@osfunapps
Just to clarify one thing - You should not be getting a crash even if you use `getExternalStoragePublicDirectory()` because I added `android:requestlegacyexternalstorage="true"` in the manifest. I tested on a Google Pixel 3XL, running Android 10 and I was able to use `getExternalStoragePublicDirectory`.

If you did get a crash, please let me know.

---

As the [documentation says](https

[2020-05-11 21:18] MohsenAbdelkareem opened #11 "Screen record for specific Application"
Could we record only specific running application screen?

[2020-05-12 06:28] HBiSoft commented on #11
If it is your application, then yes.

You can stop the recording by checking if the user leaves the `Activity`, in `onPause()`, like this:

[code]

There is no way of limiting the recording to a specific application, accept your own.

[2020-05-12 06:28] #11 closed

[2020-05-14 14:33] charlesbel opened #12 "Background service"
Hi,
First, I would like to say Awesome Thanks to the developper of this crazy simple library.
I just would like to know if there is a way to use the HBRecorder inside a service.
I know that the screen recording could only be asked from an activity but have you any idea about how to do that like a transparent activity or something similar?
Sincerely,
Charles

[2020-05-15 04:47] HBiSoft commented on #12
There is a lot of ways you can achieve this, best is probably using a `BroadcastReceiver`. You will send a broadcast from your `Service` to your `Activity` or `Fragment`. Then you can start `HBRecorder` when you receive the message.

I will be closing this issue because it is not related to the library.

[2020-05-15 04:47] #12 closed

[2020-06-10 09:32] AhmadAyyaz1993 opened #13 "On start recording it is giving a 100 error code on my vivo v11"
I am trying to fix an issue where when I start recording it is giving me an error code 100 inside HBRecorderOnError

I am not able to get the as when it doesnt show anything in logs when I try to attach it to the app's process.

Yes it can be on my vivo v11

**HBRecorder version**
0.1.7

**Device information**
- Vivo v11
- 28

[2020-06-10 11:41] HBiSoft commented on #13
The log should provide a reason why the crash is happening, please see below:

[code]

Please make sure that you are logging the `reason`. `errorCode` will always return 100, this was implemented to check if some settings are not supported, this must still be implemented.

[2020-06-10 11:51] AhmadAyyaz1993 commented on #13
It gives a number '268435556' in that reason.

[2020-06-11 03:54] HBiSoft commented on #13
It's a pain debugging this kind of issues. I have some suggestions you can try:

-  Set the video encoder to one of the following `H264` or `H263`. It seems that default is selecting `MPEG_4_SP` and in your log is - `cannot support MPEG4 D1 SP encoder`. You can change the video encoder by calling: `hbRecorder.setVideoEncoder("H264")`

- You can also try disabling the audio. I have a suspicion that

[2020-06-11 04:19] AhmadAyyaz1993 commented on #13
Ok I'll try and let you know here.

[2020-06-11 04:38] AhmadAyyaz1993 commented on #13
It worked fine with encoder 264. Should I hard code it? And if I hard code it would it be working fine for all the devices?

[2020-06-11 06:37] HBiSoft commented on #13
Ok, now we at least know why this is happening. No, you should never hardcode a specific encoder, some devices might not support it, even though most will support `H264`.

Please run the following on your divide and provide me with the log:

[code]

[2020-06-11 06:43] AhmadAyyaz1993 commented on #13
Here are the supported codecs

2020-06-11 11:42:01.238 29765-29765/com.evonative.screenrecorder E/SUPPORTED____---: OMX.MTK.AUDIO.DECODER.ADPCM.MS
2020-06-11 11:42:01.239 29765-29765/com.evonative.screenrecorder E/SUPPORTED____---: OMX.MTK.AUDIO.DECODER.ADPCM.DVI
2020-06-11 11:42:01.239 29765-29765/com.evonative.screenrecorder E/SUPPORTED____---: OMX.vivo.adpcm.decoder
2020-06-11 11:42:01.239 2976

[2020-06-11 07:12] HBiSoft commented on #13
Ok, I want you to check one last thing before I make a conclusion. Change everything back to what it was when you got the crash, then change the output format to `THREE_GPP`, like this `hbRecorder.setOutputFormat("THREE_GPP")`, let me know if the crash is still present

[2020-06-11 07:19] AhmadAyyaz1993 commented on #13
Yes I checked with `hbRecorder.setOutputFormat("THREE_GPP") ` and crash was still there !!!

[2020-06-11 08:10] HBiSoft commented on #13
What I suggest you do is to check if your device has an `H264` encoder and make the changes accordingly.

You can do it like this:

[code]

This might not be the best way of doing it, but it will work on all devices. When I get the time, I will make changes to the library that will handle this.

Please let me know if this works for you and if it does, please close the issue.

[2020-06-11 08:17] AhmadAyyaz1993 commented on #13
Ok sure, ill try this and ill update the ticket accordingly. Thanks for your help, I really appreciate it.

[2020-06-11 08:19] HBiSoft commented on #13
No problem, glad I could help.

[2020-06-11 08:20] AhmadAyyaz1993 commented on #13
Just one thing, do i need to pass "h264" to method with capital H or small h? Would that matter?

[2020-06-11 09:16] AhmadAyyaz1993 commented on #13
updated with your changes and it was working fine. Closing the ticker

[2020-06-11 09:16] #13 closed

[2020-06-12 03:52] ahmedmolawale opened #14 "Screen record when the camera is in use"
I have an app that supports video chat; so technically its already using the camera. Recording screen when the video chat is up triggers HBRecorderOnError. Is this doable?

[2020-06-13 07:41] HBiSoft commented on #14
This is not posable with older versions of Android. What Android version are you using?

[2020-06-13 18:07] ahmedmolawale commented on #14
I am using Android version 8 actually.

[2020-06-14 11:20] HBiSoft commented on #14
This is to be expected. From the [docs](https://developer.android.com/guide/topics/media/sharing-audio-input#pre-behavior):

So the issue is with audio. You can test this by disabling audio, by calling `hbrecorder.isAudioEnabled(false);`. By doing this you will still be able to capture the screen but not the audio.

Please test this let me know.

[2020-06-15 07:40] brittle123 opened #15 "Add Initial Count Down, Orientation mode, and Floating action pop-up options."

[2020-06-15 07:56] HBiSoft commented on #15
I will be closing this issue.

Please create a new issue by pressing "New issue" then select "Future request":
![Screenshot 2020-06-15 at 09 46 28](https://user-images.githubusercontent.com/35602540/84631296-6d275d80-aeed-11ea-992d-8bfeabfbb4bf.png)

Then fill in all the fields. Give as much as possible information and provide a proper title, for example - "Requesting features".

This is not how y

[2020-06-15 07:56] #15 closed

[2020-06-15 08:15] brittle123 opened #16 "Requesting Features"
Hello Sir!
Please can you add initial count down timer, orientation mode and pop-up window floating action buttons in this.
Thanks in Advance.

[2020-06-15 08:27] HBiSoft commented on #16
<ins>Count down timer:</ins>
I can add an option for you to set a count down timer, but this will still have to be implemented from your application. I can implement this and provide an example in the example application on how you can handle it from your application.

<ins>Orientation mode:</ins>
Can you please explain what you mean with this?

<ins>Floating action buttons:</ins>
As mentioned abo

[2020-06-15 09:20] brittle123 commented on #16
orientation modes,... portrait landscape or both for recorded videos as many sccreen recorders application have option. And i'll be waiting for your addition of count down timer and floating action buttons for recording. Thankyou so much.

[2020-06-15 11:01] HBiSoft commented on #16
I will add an option to set the orientation by calling - [setOrientationHint](https://developer.android.com/reference/android/media/MediaRecorder#setOrientationHint(int))

I will implement all of this tomorrow.

[2020-06-15 12:05] brittle123 commented on #16
yayyy,... thanks man,... i'll wait for it.

[2020-06-16 08:00] brittle123 commented on #16
Hello Sir!,.. you'r going to update your demo application today naa!

[2020-06-16 12:23] HBiSoft commented on #16
I have decided not to implement the floating action buttons and the countdown time because it is not part of the library and should be done by the developer. I might implement this at some point, but I'm currently working on other projects.

I have added the option to set the orientation in the latest release - https://github.com/HBiSoft/HBRecorder/releases/tag/0.1.8

Here is how you can implement

[2020-06-16 12:23] #16 closed

[2020-06-16 12:23] HBiSoft commented on #14
I'm closing this issue due to inactivity.

[2020-06-16 12:23] #14 closed

[2020-06-16 12:50] brittle123 commented on #16
Thankyou so much Sir... it's very helping.

[2020-06-17 11:57] AmzMirza opened #17 "Requesting for Screen Shot option"
Hello Sir!
Could you please add the screenshot feature in your library?

[2020-06-19 12:25] HBiSoft commented on #17
Apologies for the late reply.

Can you please explain why you want this to be part of the library? Android devices can take screenshots and I don't see why you would want to add this as an additional feature when the device can do it already?

[2020-06-23 04:15] HBiSoft commented on #17
Closing due to inactivity.

[2020-06-23 04:15] #17 closed

[2020-06-23 04:25] AmzMirza commented on #17
Hello!,...Sorry for late seeing your answer,... i'm making an app Live Stream and screen recorder,...my app is going to have feature of taking screenshot at the backend service,.. like taking screenshot from chat head button option like messenger.

[2020-06-26 13:36] HBiSoft commented on #17
I will look into this when I have time. This will require me to use an `ImageReader` and I'm not sure if it will work, but I will give it a try and let you know.

[2020-07-02 15:47] adnanmacro opened #18 "Project Build with android 28"
Hi,
I am getting error while building app with android 28? Can you please assist.
Let me elaborate.

I Set the TargetSDK and CompileSDK to version 28
I clean the Project
Run the Rebuild

getting below errors

\app\build\intermediates\merged_manifests\debug\AndroidManifest.xml:16: AAPT: error: attribute android:requestLegacyExternalStorage not found.

app\build\intermediates\merged_manifests\debug\

[2020-07-02 15:51] HBiSoft commented on #18
What error? Please edit your question and provide more information, including device, steps to reproduce and the log.

[2020-07-02 18:04] HBiSoft commented on #18
The library is build with SDK version 29 and uses packages released in SDK 29, like `requestLegacyExternalStorage` and `foregroundServiceType`.

Please use SDK version 29>.

[2020-07-02 18:04] #18 closed

[2020-07-02 18:22] adnanmacro commented on #18
Thanks.
Do you have with version 28?

On Thu, 2 Jul 2020, 23:04 Hagen Brooks, <notifications@github.com> wrote:

[2020-07-02 18:50] HBiSoft commented on #18
It's expected from developers that libraries target the latest version. Just change your target version to 29, it's anyway recommended by Google to target the latest version.

[2020-07-17 13:30] MartinMbae opened #20 "Display a notification while recording the screen"
Thanks @HBiSoft  for this wonderful library.
During recording a notification is not shown despite me having provided the notification icon and the title as well as the Notification message. Where might I be going wrong.

NOTE: The app is recording the video and saving it to the gallery but not displaying the notification.

[2020-07-17 14:44] HBiSoft commented on #20
Does the notification show in the demo application?

[2020-07-17 15:49] ramdisk-ott opened #21 "When zoom meeting is running if i start recording i am getting error"
**Describe the bug**
When zoom meeting is running if i start recording i am getting error
**Log**
2020-07-17 21:15:34.303 5997-5997/com.hbisoft.hbrecorderexample E/MediaRecorder: start failed: -38
2020-07-17 21:15:34.328 5997-5997/com.hbisoft.hbrecorderexample E/CALLED: CALLED
2020-07-17 21:15:34.369 5997-5997/com.hbisoft.hbrecorderexample E/HBRecorderOnError: java.lang.IllegalStateException

[2020-07-17 15:55] HBiSoft commented on #21
Please try and disable the audio recording and check if it works then.

[2020-07-17 17:35] ramdisk-ott commented on #21
its working if I disable the audio.but audio functionality required

[2020-07-18 08:13] HBiSoft commented on #21
Can you please confirm if you are using Android 10?

This should be working if you are, according to the [docs](https://developer.android.com/guide/topics/media/sharing-audio-input#pre-behavior).

If you are using Android 10 then I will have to look at implementing an [AccessibilityServer](https://developer.android.com/reference/android/accessibilityservice/AccessibilityService) instead of an ordi

[2020-07-18 09:06] ramdisk-ott commented on #21
(https://user-images.githubusercontent.com/62267259/87849122-af382a80-c903-11ea-850e-82658ccb918f.jpeg)
I tried the below snippet  which u shared but its not working
**hbRecorder.setAudioSource("VOICE_RECOGNITION");**

I am using android 9 version(api 28). please find attached device info screenshot.

[2020-07-18 09:17] HBiSoft commented on #21
This is to be expected. From the [docs](https://developer.android.com/guide/topics/media/sharing-audio-input#pre-behavior):

You can't record audio from more than one source on devices running 28 and lower.

There was another question regarding this(#14)
I'm sorry but I will have to close this issue since there is nothing I can do about this.

[2020-07-18 09:17] #21 closed

[2020-07-18 09:18] HBiSoft commented on #20
I will be closing this issue until you let me know if it is working on the demo application.

[2020-07-18 12:35] ramdisk-ott commented on #21
both(recording and zoom meeting) are running in same app.
if I start the recording first and starts the zoom meeting its working fine.
if I start the zoom meeting first and then start the recording its not working.

[2020-07-18 13:22] HBiSoft commented on #21
`both(recording and zoom meeting) are running in same app.`
What do you mean? Did you implement the zoom sdk into your application?

`if I start the recording first and starts the zoom meeting its working fine.`
Yes, this will work because the app in progress is prioritized. In this case your application is started first, so you have access to audio. When doing this, your zoom audio will not work.

[2020-07-18 14:30] MartinMbae commented on #20
Sorry for the late reply.
No, I have imported your application as it is, the notification is not working

[2020-07-18 14:39] HBiSoft commented on #20
What device and sdk version are you using?

[2020-07-18 15:01] MartinMbae commented on #20
I am using Tecno WX3P. Android version 7 API 24

[2020-07-18 15:03] MartinMbae commented on #20
Te error was due to using wrong settings. I have reset all the custom settings to DEFAULT and the notification worked.

Thank you.
I think I now have to close this.

[2020-07-18 15:04] #20 closed

[2020-07-19 18:54] Mouadabdelghafouraitali opened #22 "It's possible to record a specific view"
I'm wondering if there's any way to record a specific view or layout instead of recording the whole screen

[2020-07-20 07:57] poojaba opened #23 "Showing error "Access denied finding property "camera.aux.packagelist""
Error occurred in some device called "Hbrecords: See Log" when click start button.:

Error log:

2020-07-20 13:22:52.884 10694-10694/com.myapp E/GraphicExt: GraphicExtModuleLoader::CreateGraphicExtInstance false
2020-07-20 13:22:55.377 10694-10694/com.myapp E/libc: Access denied finding property "camera.aux.packagelist"
2020-07-20 13:22:55.377 10694-10694/com.myapp E/libc: Access denied finding pr

[2020-07-20 08:08] HBiSoft commented on #23
Please edit your question and provide information about the device.

[2020-07-20 08:13] HBiSoft commented on #22
As the library is now, it is not possible.

I will have to implement a frame processor / `ImageReader` that reads and edits each frame.

I will implement this when this issue gets more attention or if others start asking for this. This will require a lot of work, which I don't currently have time for.

[2020-07-20 08:13] #22 closed

[2020-07-21 15:17] HBiSoft commented on #23
Closing until you provide device details.

[2020-07-21 15:17] #23 closed

[2020-07-24 15:50] ajwad-shaikh commented on #22
@Mouadabdelghafouraitali  I am working on an app that had this requirement, I am simply cropping the video frame to View parameters with FFMPEG for Android. Works fine for me

[2020-07-30 05:09] HBiSoft commented on #9
@osfunapps
I thought I would let you know that you can now pass a `Uri` instead of a file path on devices running Android Q>.

Have a look at how I implemented it into the demo project:

https://github.com/HBiSoft/HBRecorder/blob/ad75b18810719ba7c71b882fa5eae4875afeb9a3/app/src/main/java/com/hbisoft/hbrecorderexample/MainActivity.java#L527-L548

[2020-08-07 04:17] oneweekstudio commented on #23
I have the same problem on devie oppo F3
ColorOS: V3.0.0.i
Android ver 6.0

[2020-08-09 13:51] vivek-mittal opened #24 "HBRecorderOnComplete is called twice for me"
HBRecorderOnComplete is called twice for me

I am stopping the recording using 'stopScreenRecording()' api and not the 'Stop recording' button in the notification area. For some unknown reason, HBRecorderOnComplete is called twice. I tried tapping the button in the notification area and the behaviour is the same. HBRecorderOnComplete is called twice. Has anyone else seen the same issue?

**Stack f

[2020-08-11 13:23] HBiSoft commented on #24
My apologies for the late reply. I noticed something similar over the weekend. I believe it is related to how I call the `onCompleteListener`. Can you please confirm if you are passing a file path or an `uri` to the library?

[2020-08-13 05:36] vivek-mittal commented on #24
Glad to hear back from you. Currently I am not passing any uri to the library and only fetching it in HRRecorderOnComplete(). I was planning to provide a custom path, but it is not as important as this issue.

[2020-08-13 06:25] HBiSoft commented on #24
@vivek-mittal
I found the issue and I will be updating the library in the next 10 min.

[2020-08-13 06:45] HBiSoft commented on #24
@vivek-mittal
This should be fixed in `0.1.12`.
You can test it and if it is fixed, please close the issue.

[2020-08-13 07:20] vivek-mittal commented on #24
Thanks Hagen. I will test them and let you know.

[2020-08-14 17:23] HBiSoft commented on #24
I assume this is fixed, feel free to reopen the issue if not.

[2020-08-14 17:23] #24 closed

[2020-08-17 16:15] vivek-mittal commented on #24
I just checked and this issue is fixed. Thanks a ton.

[2020-08-31 10:59] chiragthummar commented on #5
@HBiSoft  i have tried to merge video using above code but not able to do because mp4parser lib gives error.
will you help me in merging video with example.

[2020-08-31 13:14] HBiSoft commented on #5
@chiragthummar
I just did a test and it is working perfectly.
What error are you getting?

[2020-08-31 15:36] chiragthummar commented on #5
its give me error like below

[code]

[2020-08-31 15:39] chiragthummar commented on #5
and sometime it give this error as well.

W/System.err: java.lang.NullPointerException: Attempt to invoke virtual method 'java.util.List com.coremedia.iso.boxes.MovieBox.getBoxes(java.lang.Class)' on a null object reference
W/System.err:     at com.googlecode.mp4parser.authoring.container.mp4.MovieCreator.build(MovieCreator.java:51)
        at com.googlecode.mp4parser.authoring.container.mp4.Movie

[2020-09-01 07:11] chiragthummar commented on #5
will you please give me full example of merging video ?

[2020-09-01 08:33] HBiSoft commented on #5
@chiragthummar
I will provide an example within the next 2-3 hours.

[2020-09-01 08:33] chiragthummar commented on #5
thanks

[2020-09-02 11:20] chiragthummar commented on #5
Hello
does below code work in android Q or not ?

[code]

[2020-09-02 12:20] HBiSoft commented on #5
@chiragthummar
It is now available in `0.1.13`.

You can pause the recording by calling:
[code]
You can resume the recording by calling:
[code]

This is only available for devices running 24> and it is important to check if the recording has started or was paused using `hbRecorder.isBusyRecording();` and `hbrecorder.isRecordingPaused();`.

Hope you find this helpful.

[2020-09-02 12:22] chiragthummar commented on #5
Thank you so much for your quick answer.

[2020-09-02 13:22] baris-unver commented on #22
@HBiSoft we are also interested in this feature. It would be very useful if could record active screen without top bar and  bottom bar. We are looking forward to an update. Thanks for such a good library!

[2020-09-02 13:22] baris-unver commented on #22
Hi @Mouadabdelghafouraitali can you please share your solution with me? Thanks!

[2020-09-02 14:56] HBiSoft commented on #22
@baris-unver
As mentioned by @ajwad-shaikh - You can use `FFmpeg` to crop the video to the size of your view.

How you would go about this is to get the height of your `statusbar`, like this:

[code]

If you have a `NavigationBar` and do not want it in the recording, you should get the height of it as well, like this:
[code]

You should then add them together:
[code]
Now you have the top part that

[2020-09-04 19:32] alexrad89 opened #26 ""Unable to screen record" toast"
After implementing the class and starting a screen recording, the app kicks out of my recording screen and a toast message comes up with "Unable to screen record". What could be causing this?

![20200904_143441](https://user-images.githubusercontent.com/4390213/92279037-07c78500-eebc-11ea-9235-5c936f5f30fa.jpg)

[2020-09-05 04:41] HBiSoft commented on #26
You are probably trying to record an application which has `window.setFlags(WindowManager.LayoutParams.FLAG_SECURE` set.

If the secure flag is set by some application, you will not be able to record that application.

[2020-09-06 06:46] HBiSoft commented on #26
I will be closing this issue since there is nothing I can do about this.

If you find that the `Toast` does not get displayed when you have another application open, feel free to reopen the issue and provide more information regarding your implementation, scenario etc.

[2020-09-06 06:46] #26 closed

[2020-09-07 22:07] badcodercpp opened #27 "can i record only inside a container like view? new to this , please suggest ."

[2020-09-08 02:55] HBiSoft commented on #27
Have a look at #22

[2020-09-08 02:55] #27 closed

[2020-09-12 13:35] Rja-123 opened #28 "Audio not recording in android 10 when i set audio source to 'DEFAULT'"
Before filing a bug:
-----------------------
- Please fill in all the information below.
- Have a look at previously asked questions to see if your issue has been resolved.
- Properly format your issue.
- All issues should be asked in English.
- Delete all the above before posting your issue

**Describe the bug**
A clear and concise description of what the bug is.

**Log**
Please provide a well fo

[2020-09-12 15:22] HBiSoft commented on #28
Please edit your question and fill out the issue template. Closing the issue for now.

[2020-09-12 15:22] #28 closed

[2020-09-14 05:20] Rja-123 opened #29 "Audio not recorded when i use it during call android 10"
Before filing a bug:
-----------------------
- Have a look at previously asked questions to see if your question has been asked before.
- Properly format your question.
- All questions should be asked in English.
- Questions that are not related to the project will be deleted
- Delete all the above before posting

[2020-09-14 05:40] HBiSoft commented on #29
You opened an [issue](https://github.com/HBiSoft/HBRecorder/issues/28) 2 days ago and I asked you to fill out the issue template. Now you open another issue and you still did not fill in the issue template??

[2020-09-14 08:54] HBiSoft commented on #29
Have a look at this answer - https://stackoverflow.com/a/58545010/5550161

To be able to record audio from two sources, an `Accessibility Service` should be used (in combination with an `Accessibility Overlay`), plus the audio input source should be `VoiceRecognition`. This, for me, seems like an overkill and I honestly don't have time to change the entire library for something that was never inte

[2020-09-14 08:54] #29 closed

[2020-09-15 01:25] vuabocphet opened #30 "HBRecorder error android R (Lag MediaRecorder stop Runtimeexception)"
Before filing a bug:
-----------------------
- Please fill in all the information below.
- Have a look at previously asked questions to see if your issue has been resolved.
- Properly format your issue.
- All issues should be asked in English.
- Delete all the above before posting your issue

**Describe the bug**
A clear and concise description of what the bug is.

**Log**
Please provide a well fo

[2020-09-15 03:38] HBiSoft commented on #30
Please fill in the issue template.

[2020-09-15 04:30] HBiSoft opened #31 "Always fill in the issue template"
It is not possible to predict the cause of an error without a log, knowing your environment, understanding what you are trying to achieve or which steps you took.

So, please fill in the issue template when creating an issue.

**Issues that do not fill out the issue template fields will be closed immediately until the fields are filled in.**

[2020-09-15 04:33] #31 closed

[2020-09-15 04:35] #30 closed

[2020-09-18 03:42] chiragthummar opened #32 "some video recorded using library can not be skipped while playing in android emulator ?"
i have been recording screen using library but when i test this app in android emulator , video play in default android player in emulator video is not skippable. so is there any problem with the video codec or other problem ?
so please solve this problem.
thank you.

[2020-09-18 04:45] HBiSoft commented on #32
Android emulator has never been reliable with testing video. I suggest you test with an actual device.

[You could also](https://stackoverflow.com/a/63928538/5550161) enable `Hardware - GLES 2.0` in your emulator's performance settings:

---

I have tested it on multiple devices and I can seek through the video with all of them. So, this is related to emulator and not the library.

[2020-09-18 04:45] #32 closed

[2020-09-22 11:23] chiragthummar opened #33 "video recording not starting in android Lollipop ?"
it just gives simple error while start recording in it.

`HBRecorderOnError: 268435556`

[2020-09-22 11:24] chiragthummar commented on #33
on other version it works fine

[2020-09-22 11:35] HBiSoft commented on #33
Please see [Always fill in the issue template](https://github.com/HBiSoft/HBRecorder/issues/31)

[2020-09-22 11:38] chiragthummar commented on #33
but logcat not showing other log which i can post here.
it just give simply error above.

[2020-09-22 13:41] HBiSoft commented on #33
Does this happen using the demo application?
Do you start the recording from your application or a service?
Do you have any application open when starting the recording?

[2020-09-22 14:31] chiragthummar commented on #33
have used demo application which is provided in lib and starting recording from the service as given in example.
nothing changed. and also when i start app it just goes in ANR .

[2020-09-23 12:52] chiragthummar commented on #33
HBRecorder throwing error because of the directory is not created in emulator .

[2020-09-26 07:18] HBiSoft commented on #33
I have tested it on a physical device running lollipop and I can't reproduce this. I believe it could be related to the emulator. I'm closing the issue for now. If you can reproduce this on a physical device, please reopen the issue.

[2020-09-26 07:18] #33 closed

[2020-10-01 14:00] sutanurath opened #34 "HBRecorderOnError see log"
HBRecorderOnError: 268435556

When i pressing start button its automatically stop and toast message is showing HBRecorderOnError  see log and log error is 268435556. I tested sample app but same error. In HBRecorder class there is a exception on  startService method. My device is 1820 and version 8.1.0 API level 27

[2020-10-02 04:19] HBiSoft commented on #34
Please make sure that the directory is created. The last issue that was closed had the exact same error.

[2020-10-02 06:50] saqibahsan1 commented on #34
directory was created , but the same issue occurred  on my device ( Redmi note 8 pro ) android  version 10, error  code 268435556

[2020-10-02 14:24] sutanurath commented on #34
Directory was created. And mp4 file also generated with small size. but same issue still there. HBRecorderOnError see log and log with same error code

[2020-10-02 15:05] HBiSoft commented on #34
Unfortunately,  `MediaRecorder` errors are not very informative. All I can do from my side is to provide suggestions you can try.

- Make sure there are no applications open which are using the mic
- Try disabling the audio
- Try selecting a different video encoder
- Try saving the video to your application directory instead of `Movies` or `DCIM`
- Try reducing the video dimensions using `hbRecord

[2020-10-03 15:51] sutanurath commented on #34
Default video encoder not working. only h264 is working

[2020-10-04 05:53] HBiSoft commented on #34
@sutanurath
Please try and set the `Output Format` and `Video encoder` to `DEFAULT` and let me know if it works.

I see that I have set the default format in the library to `MPEG_4`. So it could be that your device is selecting `H263` as it's default encoder and `MPEG_4` for the format, which might be causing the issue.

[2020-10-04 09:26] sutanurath commented on #34
Thank a lot for your support. Fixed the issue.

[2020-10-04 09:33] HBiSoft commented on #34
@sutanurath
What did you do to fix it?

[2020-10-04 12:54] sutanurath commented on #34
Its device problem where i tested last time. now  i am using another device, working fine. with all default settings.

[2020-10-04 18:44] HBiSoft commented on #34
@saqibahsan1
Are you still getting this error?

[2020-10-05 05:33] sutanurath commented on #34
Yes still getting this error on that device. Device is Vivo 1820 Version 8.1.0. Only h264 encode working.

[2020-10-05 05:35] HBiSoft commented on #34
Did you try what I asked above?

[2020-10-05 06:17] saqibahsan1 commented on #34
Default video encoder not working. only h264 is working

[2020-10-05 06:22] HBiSoft commented on #34
Did you try and set the video encoder AND the output format to default?

[2020-10-05 07:19] HBiSoft commented on #34
If that also doesn't work, run the following and let me know what it returns:

[code]

[2020-10-05 10:24] sutanurath commented on #34
I tried default settings but error.

[2020-10-05 10:28] sutanurath commented on #34
This is error log after set default

 E/HBRecorderOnError: 268435556
2020-10-05 15:56:55.257 429-429/? E/hwcomposer: [HWC] (2) handle of outbuf missing
2020-10-05 15:56:55.258 429-429/? E/hwcomposer: [HWC] (2) handle of outbuf missing
2020-10-05 15:56:55.259 443-443/? E/SurfaceFlinger: [ScreenRecordService] advanceFrame: no buffer, bailing out
2020-10-05 15:56:55.259 443-443/? E/DisplayDevice: [Sc

[2020-10-05 10:41] sutanurath commented on #34
numCodecs = 65

System.out: Available Encoders=OMX.MTK.VIDEO.ENCODER.AVC
System.out: Available Encoders=OMX.google.h264.encoder
Available Encoders=OMX.MTK.VIDEO.ENCODER.H263
OMX.google.h263.encoder
OMX.MTK.VIDEO.ENCODER.HEVC
OMX.MTK.VIDEO.ENCODER.MPEG4
OMX.google.mpeg4.encoder
OMX.google.vp8.encoder

[2020-10-05 15:42] kunwar97 opened #35 "Support for internal audio recording"
Does it support internal audio recording?

[2020-10-05 16:13] sutanurath commented on #35
Android does not support internal audio recording but this library record audio from micro phone. This library support properly sync video with audio.

[2020-10-05 19:00] HBiSoft commented on #35
This is possible on Android 10 using the new [AudioPlaybackCapture](https://developer.android.com/guide/topics/media/playback-capture) API. I will have a look at it over the weekend.

[2020-10-05 19:00] #35 closed

[2020-10-10 06:00] chiragthummar opened #36 "how can i crop video which is captured by recorder ?"
i am trying to record a video in cropped screen but not able to do so far.
so is there any idea or code which  can be implemented so that capture screen can be cropped while recording.

i have changed code as below

` mMediaRecorder.setVideoSize(mScreenWidth, mScreenHeight);`

but not get desirable output.

so if there any solution please tell me.

[2020-10-10 06:25] HBiSoft commented on #36
This library doesn't include any video encoding/decoding or cropping, you will have to implement that yourself with something like [FFmpeg](https://github.com/tanersener/mobile-ffmpeg) or [Transcoder](https://github.com/natario1/Transcoder).

---

[code]
This sets the size of the output video, it doesn't crop it.

[2020-10-10 06:25] #36 closed

[2020-10-10 15:45] alexrad89 commented on #34
@sutanurath can you post the settings code you used im also getting this error.

[2020-10-10 15:59] alexrad89 commented on #34
![image](https://user-images.githubusercontent.com/4390213/95659578-95b01480-0ae7-11eb-90e0-ed3f924dba4d.png)
This is what i used and same error.

[2020-10-17 13:54] HBiSoft commented on #34
If any of you have the time, please update `HBRecorderCodecInfo.java` to the following:

[code]

Then in `MainActivity` (After calling `hbRecorder = new HBRecorder(this, this);`), add the following:

[code]
Then provide me with the log.

[2020-10-19 12:35] abasgames opened #37 "how i can install it as system app ?"
hello i have device that running lineage os 17.1 i would like to replace the stock recorder app with this app i have magisk root and twrp if thats help the reason i would install it as system app are because theres some apps doesn't updated long time ago and you can't record them with internal audio if you installed the apk as user app

[2020-10-20 05:36] HBiSoft commented on #37
I'm sorry but I have no experience with LineageOS or installing system application.
You will have to do your own research on how to do this.

This is a library intended to be used by developers. The app itself is only a demonstration of what the library can do.

I hope you find a solution.

[2020-10-20 05:36] #37 closed

[2020-10-20 06:48] HBiSoft commented on #34
I have updated the library and it will now return the above information when running the application.

I need one of you to run the updated application and provide me with the log, it will look something like this:

[code]

[2020-10-20 14:13] GauravMandlikSafecode opened #38 "Notification Hide ?"
Hi @FingerArt

is there any way to hide notification while recording. then help me.

Thanks (_).

[2020-10-20 14:20] HBiSoft commented on #38
You can not have a foreground service without showing a notification, as mentioned in [this question](https://stackoverflow.com/a/10964250/8199772):

[2020-10-20 14:20] #38 closed

[2020-10-29 01:29] HBiSoft commented on #34
I really wanted to know the cause behind this issue, but unfortunately did not get a reply. I will be closing this issue for now.

<b>I future readers has the same issue, please run the demo application and provide me with the log mentioned in the previous comment.</b>

[2020-10-29 01:29] #34 closed

[2020-11-05 13:42] malik7224 opened #39 "Mic Already in use."
i want to record my video call but exception occurred that mic is already in use. any suggestion ?

[2020-11-10 06:22] HBiSoft commented on #39
Please see issue #21

[2020-11-10 06:22] #39 closed

[2020-11-12 07:33] chen412115 opened #40 "Help,Screen capture while recording"
Is it supported

[2020-11-12 08:01] HBiSoft commented on #40
Yes, but you will not be able to record audio while the microphone is in use.

[2020-11-12 08:01] #40 closed

[2020-11-12 08:08] chen412115 commented on #40
How should i do

[2020-11-12 08:35] HBiSoft commented on #40
Have a look at this answer - https://stackoverflow.com/a/58545010/5550161

To be able to record audio from two sources, an Accessibility Service should be used (in combination with an Accessibility Overlay), plus the audio input source should be VoiceRecognition.

---
Even doing the above, you have no guarantee it will work on all devices.

[2020-11-12 09:17] chen412115 commented on #40
yeah  ,thank you

[2020-11-12 14:17] GauravMandlikSafecode opened #41 "Get Continue Recording Without Permisison ?"
![device-copy](https://user-images.githubusercontent.com/73181121/98950837-81fd3100-251f-11eb-9da8-ec0d384f7fc8.png)

can i start recording without permission popup in app,my point is can i get store intent in app. i check in android 10 device that prompt every time when i start recording.

Thanks.

[2020-11-12 14:20] HBiSoft commented on #41
No you cannot.

[2020-11-12 14:20] #41 closed

[2020-11-12 15:15] GauravMandlikSafecode commented on #41
Hi @HBiSoft

Please check this app it's already available in Play Store, it is possible [https://play.google.com/store/apps/details?id=videoeditor.videorecorder.screenrecorder](url)

[2020-11-12 15:41] HBiSoft commented on #41
They are probably still targeting API level 28. The developer will have to target 29 in the next update (since the minimum [API level is now 29](https://developer.android.com/distribute/best-practices/develop/target-sdk)) and then you will see the same notification popup.

[2020-11-17 16:27] cristea2017 opened #42 "Streaming"
i come here from : https://morioh.com/p/11b23bb6f978

i am wondering can we use this lib to share screen to twitch for example ? (to stream video exactly)
as screen recording works perfectly thanks a lot ;)

[2020-11-17 20:23] aruproy opened #43 "HBRecorderOnError:: errorCode: 100 reason: 268435556"
HBRecorder works fine on Android emulators and on my 3 physical devices. However, on one of my device the screen recorder stops immediately after I start recording. I am getting callback on **HBRecorderOnError with errorCode: 100 and reason: 268435556**

Both the "High Definition" and "Standard Definition" option is producing same error on the device.

Yes, this error is reproduced in demo app.

*

[2020-11-17 20:47] aruproy commented on #34
@HBiSoft Thank you for this great library. I have just added the issue #43
I really need to get this issue fixed. How do I get the latest update of the library? I will provide you all details that you need.

[2020-11-18 05:12] HBiSoft commented on #43
Please see [this](https://github.com/HBiSoft/HBRecorder/issues/34#issuecomment-712633181) comment:

---
Run the demo application on your device and post the log.

[2020-11-18 05:29] HBiSoft commented on #42
This [should be possible](https://stackoverflow.com/a/40649258/5550161) by passing the `LocalSocket`'s file descriptor to the library - `hbrecorder.setOutputPath(localSocket.getFileDescriptor());` I have not tested it, but I'm sure it will work.

[2020-11-18 05:29] #42 closed

[2020-11-18 06:40] aruproy commented on #43
Thank you @HBiSoft for your quick response. I have installed the demo application from the link above on my device. Where should I look for the logs? On Android Studio logcat I don't see any "HBRecorderCodecInfo" entry. Can you write logs in a file?

I have two physical devices where the recorder is failing. I will provide you logs from both devices.

[2020-11-18 07:22] HBiSoft commented on #43
@aruproy

If you have a look at the demo application, you will se that the log will be called in `onCreate`:

https://github.com/HBiSoft/HBRecorder/blob/3c570c95052efd329ede1dc3f473642fb968b2eb/app/src/main/java/com/hbisoft/hbrecorderexample/MainActivity.java#L131-L167

---

Download the demo application and open it in Android Studio, then install it on your device. The logs will not be shown with

[2020-11-18 07:37] aruproy commented on #43
@HBiSoft I have collected supported codecs using your [code](https://github.com/HBiSoft/HBRecorder/issues/34#issuecomment-703449863).

**Failed device 1: LenovoTB3-X70L( LENOVO Lenovo TB3-X70L) Android 23**
[code]

**Failed device 2: P290( Micromax Micromax P290) Android 21**

[code]

I will also send you logs by running the demo app as you suggested above.

[2020-11-18 07:57] aruproy commented on #43
@HBiSoft Here is the log using the demo app. Appreciate your help.

**Failed device 1: LenovoTB3-X70L( LENOVO Lenovo TB3-X70L) Android 23**
[code]

**Failed device 2: P290( Micromax Micromax P290) Android 21**
[code]

[2020-11-18 09:03] HBiSoft commented on #43
@aruproy

<b>LenovoTB3-X70L</b>:
You will see in the log that the dimensions are not supported. This could be because you are starting the recording in landscape mode, but the max supported size uses the portrait dimensions.

Please try starting the recording in landscape and portrait mode and see if there is any difference.

<b>Micromax Micromax P290</b>:

I'm not sure why it is happening on this

[2020-11-18 10:14] aruproy commented on #43
@HBiSoft Thank you so much.

**LenovoTB3-X70L:**
The demo app is showing the same error when I start recording in landscape and portrait orientation.

**Micromax Micromax P290:**
As you suggested, this is the custom setting. Unfortunately I am getting the same error for both landscape and portrait orientation.
![Micromax Screenshot](https://user-images.githubusercontent.com/3368411/99515821-77291d

[2020-11-23 10:33] aruproy opened #44 "RuntimeException: Unable to stop service com.hbisoft.hbrecorder.ScreenRecordService"
ScreenRecorderService crashed in production environment. Hope this crash can be avoided with a simple NULL check. I'd appreciate any help.

**Describe the bug**
ScreenRecorderService within the HBRecorder crashed on `hbRecorder.stopScreenRecording()`

**Log**
[code]
**Can it be reproduced in demo app**
This crash is reported in production environment.

**HBRecorder version**
HBRecorder:0.1.14

**D

[2020-11-24 07:16] aruproy commented on #44
@HBiSoft Please resolve this issue.

[2020-11-24 07:20] aruproy commented on #43
@HBiSoft There are many devices throwing this error. Please try to resolve this. Thank you.

[2020-11-24 09:46] HBiSoft commented on #44
This is fixed in `0.1.15`

[2020-11-24 09:46] #44 closed

[2020-11-24 18:45] aruproy opened #45 "HBRecorderOnError:: errorCode: 100 reason: java.lang.IllegalStateException"
Got HBRecorderOnError callback on first call to HBRecorder startScreenRecording on one device. This is a production issue and I don't know if any other recorder was active at that time (also don't know if that matters). Not sure if this a HBRecorder bug or, this needs to handled for retry. I'd appreciate any help.

**Describe the bug**
Got this error `HBRecorderOnError:: errorCode: 100 reason: jav

[2020-11-24 19:07] HBiSoft commented on #45
Have a look at what I've commented here:

https://github.com/HBiSoft/HBRecorder/blob/9c36cec89ff2fd3ef7e07e9a4065bb8d0b233a40/hbrecorder/src/main/java/com/hbisoft/hbrecorder/ScreenRecordService.java#L268

I will improve the logging tomorrow to provide more detailed logs.

[2020-11-24 19:15] HBiSoft commented on #43
This is not a library issue. I will have to open an issue on [issuetracker.google.com](https://issuetracker.google.com/issues?q=componentid:192633%2B) and wait for Google to respond.

[2020-11-24 19:28] aruproy commented on #45
@HBiSoft Thank you so much for your quick response.

[2020-11-25 07:31] linhaosheng opened #46 "Can I record the sound in the headset"
Can I record the sound in the headset

[2020-11-25 07:45] HBiSoft commented on #46
I'm not sure I understand what you are asking?

[2020-11-25 13:49] HBiSoft commented on #46
Closing until I receive a response.

[2020-11-25 13:49] #46 closed

[2020-11-27 16:11] HovhannisyanKaro opened #47 "How can I make the sound recorded only from the phone?"

[2020-11-28 05:16] HBiSoft commented on #47
I assume you are asking if internal audio can be recorder. No it can't. This library makes use of the microphone.

[2020-11-28 05:16] #47 closed

[2020-11-30 11:25] arsalanraja26 opened #48 "HBRecorder recording stucks on API equal to or less then 23 (Android Level equal to or below then 6)"
Hi, I am working on API level 23 (Android version 6.0)
I have to record screen and also take screenshot on the same activity/screen (having exoplayer for playing video).
when I only record screen or only take screenshot then everything is working perfectly
but
when I start screen recording and while in screen recording I take screenshot then after that the screen recording stucks,
note that for sc

[2020-11-30 11:36] arsalanraja26 commented on #48
@HBiSoft Kindly Help me as soon as possible

[2020-11-30 14:32] GauravMandlikSafecode commented on #41
@HBiSoft

Then how about working in android Api Level 29 or 30.

Thanks.

[2020-11-30 18:42] Vexturbo opened #49 "I am unable to import dependency"
**Describe the bug**
I am unable to import HBRecorder:0.1.15.

**Log**

Failed to resolve: com.github.HBiSoft:HBRecorder:0.1.15
Show in Project Structure dialog
Affected Modules: app

**Can it be reproduced in demo app**
no

**HBRecorder version**
0.1.15

**Device information**
defaultConfig
minSdkVersion 16
targetSdkVersion 29
versionCode 1
versionName "1.0"
testInstrumentationRunner "androidx.te

[2020-12-01 04:52] HBiSoft commented on #49
Please see the instructions - https://github.com/HBiSoft/HBRecorder#adding-the-library-to-your-project

If you still have this issue after following the instructions, provide both your gradle files.

[2020-12-01 04:52] #49 closed

[2020-12-01 04:58] HBiSoft commented on #48
I think the issue is that your device can't have multiple instances of `MediaProjection` along with `MediaCodec` (which ExoPlayer is using).

I will be adding the ability to take screenshots using the library in the next few days, but I can't guarantee that you will be able to take screenshots while recording, especially on older devices

[2020-12-01 04:58] #48 closed

[2020-12-01 05:02] HBiSoft commented on #45
@aruproy
Just an update on this. I will be updating the library in the next few days. In the meantime, you can let the user know that they must ensure that there is no camera/media player using the microphone running in the background.

I will be closing the issue for now and let you know when I've updated the library.

[2020-12-01 05:02] #45 closed

[2020-12-02 06:59] arsalanraja26 commented on #43
@HBiSoft  I am facing two issues please help me :
1- on Screen Rotation HBRecorder stops recording screen, is there any way to handle this ?
2- when onPause and onResume is called then HBRecorder records only audio i.e if I start recording and onPause of Activity is called and after that onResume is called then HBRecorder still records but only audio it do not update or continue to record views e.

[2020-12-02 07:15] arsalanraja26 commented on #43
if I used hbRecorder.pauseScreenRecording(); onPause of Activity
and use hbRecorder.resumeScreenRecording(); onResume of Activity
and then when I stop my recording then my app crashes

E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.orbis.glflocker, PID: 3424
    java.lang.RuntimeException: Unable to start service com.orbis.glflocker.controllers.Glf_three.screen_recorder.ScreenRecordServi

[2020-12-02 07:25] HBiSoft commented on #43
1- on Screen Rotation HBRecorder stops recording screen, is there any way to handle this ?
2- when onPause and onResume is called then HBRecorder records only audio i.e if I start recording and onPause of Activity is called and after that onResume is called then HBRecorder still records but only audio it do not update or continue to record views e.g videoview, count down timer etc

Test using the

[2020-12-02 08:04] arsalanraja26 commented on #43
@HBiSoft thanks for you quick response, I really appreciate that and I am really sorry it was my bad I was testing wrong scenario, I have a query is your library also support screenshot ? I mean is there any way that I can also take screenshot while HBRecorder is recording or not recording ?

[2020-12-02 08:07] HBiSoft commented on #43
Currently it's not possible. But I will be implementing it in the next few days.

[2020-12-02 08:17] arsalanraja26 commented on #43
Ok, kindly implement the screenshot functionality as soon as possible because I really need this and Thank you so much for you quick response I really like you library and your quick response @HBiSoft

[2020-12-14 17:17] robertlevonyan opened #50 "Crashing on stop"
The app is crashing from your library.

[code]

[2020-12-15 03:16] HBiSoft commented on #50
Please see [Always fill in the issue template](https://github.com/HBiSoft/HBRecorder/issues/31)

[2020-12-15 03:16] #50 closed

[2020-12-15 08:31] mohit7376verma commented on #43
Hi **@HBiSoft** I'm also getting the same issues in my android 10 device , so I tried Your demo app and set the
1.  video encoder to H264
2. resolution to 1920x1080
3. bitrate 2.5Mbps
4. Frame rate 30FPS

and using these custom settings it worked and if  reverted it to default it  shows the "HBRecorderOnError See Log" errorCode: 100 reason: 268435556 is shown a log.

[2020-12-17 15:45] robertlevonyan opened #51 "App is crashing on stop."
**Description**
The app is crashing from your library. The crashlog is from Firebase Crashlytics

**Log**
[code]

It cannot be reproduced, because I don't have those devices.

**HBRecorder version:** 0.1.14

**Device information**
Nokia N9 - Android SDK 28

**No screenshots**

[2020-12-17 16:00] HBiSoft commented on #51
I believe this was fixed in `0.1.15`. This was reported in #44 and fixed in https://github.com/HBiSoft/HBRecorder/releases/tag/0.1.15

Please update your version and let me know if the issue persists.

[2020-12-18 04:19] HBiSoft commented on #51
Closing until you confirm the above.

[2020-12-18 04:19] #51 closed

[2020-12-20 16:53] SGNight opened #52 "Add Remote_Submix support"
**Is your feature request related to a problem? Please describe.**
I'm testing this app on android-x86 7.1 it's working good so far but i want to use the remote_submix as audio source so that i can record the internal audio. my custom android x86 build does support this feature but only app i can't find use this feature is ScreenCam Screen recorder but it's no longer under development & have many

[2020-12-21 05:23] HBiSoft commented on #52
This is already possible.

Have a look at the readme (at the bottom). You first have to enable custom settings, like this:

[code]

Then you can set the audio source:

[code]
In your case it will be:

[code]

[2020-12-21 05:23] #52 closed

[2020-12-21 19:33] SGNight commented on #52
thank you so much for you reply.
 i've tested this on demo app by replacing "REMOTE_SUBMIX" with "CAMCODER" and it works like charm.
 i would suggest you to put all the settings of the app in main activity in stead of setting since default HD & SD menu seems pretty useless to me.
 i'll do some more testing & on my other builds & report you back if i find any bug.
Cheers 😄

[2020-12-28 09:34] webix-209 commented on #3
E/HBRecorderOnError: 268435556

every time this error show how to fix it in version 29?

[2020-12-30 20:03] vipinshrivatri opened #53 "Android 29 Media Projection req again and again for screen cast permission"
How do i take screen recording permission only for one time. Please help

[2020-12-31 22:22] HBiSoft commented on #53
It's not possible.

[2020-12-31 22:22] #53 closed

[2021-01-09 06:42] HBiSoft commented on #43
My apologies for the delayed response. I'm not sure why this is happening on some devices. This seems to be device specific. Please provide the log after opening the demo application, it will start with `E/HBRecorderCodecInfo`

[2021-01-12 05:02] mitulghoda opened #54 "Getting file not found exception"
Sometimes i got file not found exception,
i am setting my own path and file name.

private fun setOutputPath() {
        val filename: String = generateFileName()!!
        if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.Q) {
             resolver = contentResolver
             contentValues = ContentValues()
             contentValues!!.put(
                 MediaStore.Video.Media.RELATIVE_PATH,

[2021-01-12 06:42] HBiSoft commented on #54
This is not related to the library. You are passing an invalid file path to the library. You can make use of my other library (PickiT) if you want to pass a valid file path when selecting a file from `Mediastore`

[2021-01-12 06:42] #54 closed

[2021-01-25 12:50] legacyGlitch opened #55 "Please elaborate how to use ServiceInfo.FOREGROUND_SERVICE_TYPE_MEDIA_PROJECTION for screen recorder"
I just want to make a screen recorder for API level 30 and above but IDE is throwing
 Media projections require a foreground service of type ServiceInfo.FOREGROUND_SERVICE_TYPE_MEDIA_PROJECTION error.

Please provide a solution to overcome this problem, because I don't want to use any dependency to build the screen recorder.

Thank you!

[2021-01-25 14:34] HBiSoft commented on #55
Have a look at the read me. Specifically point 4 in [Implementing the library](https://github.com/HBiSoft/HBRecorder#implementing-the-library)

You need the following in your Manifest:
[code]

[2021-01-25 14:34] #55 closed

[2021-01-26 08:08] legacyGlitch commented on #55
I don't want to use     implementation 'com.github.HBiSoft:HBRecorder:0.1.15'
I just want to develop a screen recorder without any third party library, your library is working fantastic but this is not what I want to do, I am using android's native functions and APIs to develope the screen recorder.
ie: MediaProjection, MediaRecorder, VirtualDisplay.

I hope you got my point. Thanks.

[2021-01-28 07:53] HBiSoft commented on #55
I'm not sure what you want from me.

This is a library and only issues related to the library should be opened.

If you what to know how to use/implement `MediaProjection` , `MediaRecorder` and `VirtualDisplay` you are more than welcome to have a look how I did it in the library.

[2021-03-03 09:43] chiragthummar opened #57 "screen recording in android 11 takes 4 second to start ?"
hello
i have been using your lib in my application, but when i set target sdk 30 and tried it but it takes 4 to 5 seconds to start recording.
so what is the problem? i have tried but not getting any idea of it.

please tell me about it.

i have been using `android:requestLegacyExternalStorage="true"` in manifest.

[2021-03-06 17:34] HBiSoft commented on #57
I was not able to reproduce this. Please provide more information. What device are you using? Are you testing on an emulator? Add a log in `HBRecorderOnStart()` and check if it is called immediately or after 4 seconds.

[2021-03-17 03:08] #57 closed

[2021-03-24 06:56] kunwar97 opened #58 "Video & Audio are out of sync"
**Describe the bug**
When recording screen while doing video call there is slight delay in audio

**Can it be reproduced in demo app**
Yes

**HBRecorder version**
for example 0.1.15

**Device information**
- Asus Rog Phone 3
- Sdk Version 29

**Screenshots**
![Screenshot_20210324-122414538](https://user-images.githubusercontent.com/20859901/112267848-129d0800-8c9c-11eb-8830-2bc2dc7f9f54.jpeg)

[2021-03-29 03:59] mzyisbest opened #59 "service kill"
Before filing a bug:
-----------------------
- When I use a third-party SDK, the screen recording service will be killed, intent.getAction () method error

[2021-03-29 14:38] robertlevonyan opened #60 "The app is crashing with this exception."
**Describe the bug**
The crash is on Crashlytics

**Log**
Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'android.os.Parcelable android.content.Intent.getParcelableExtra(java.lang.String)' on a null object reference
       at com.hbisoft.hbrecorder.ScreenRecordService.callOnComplete(ScreenRecordService.java:4)
       at com.hbisoft.hbrecorder.ScreenRecordService.onDestr

[2021-03-29 16:17] HBiSoft commented on #59
Please see [Always fill in the issue template](https://github.com/HBiSoft/HBRecorder/issues/31)

[2021-03-29 16:17] #59 closed

[2021-03-29 16:25] HBiSoft commented on #58
This is to be expected. From the [docs](https://developer.android.com/guide/topics/media/sharing-audio-input#pre-behavior):

You might be able to record audio from 2 sources on your specific device, but you can't expect it to work on other devices running 29<.

Unfortunately there is nothing I can do about this.

[2021-03-29 16:25] #58 closed

[2021-03-29 16:32] HBiSoft commented on #60
Thanks for reporting this. I will add a try/catch to check if the `Intent` is `null`. I will update the library in the next hour or so.

[2021-03-30 12:54] robertlevonyan commented on #60
Thank you

[2021-04-04 14:17] Freepalm opened #61 "Library is not found in saved repositories"

[2021-04-04 14:18] #61 closed

[2021-04-05 08:12] robertlevonyan commented on #60
any news about update?

[2021-04-07 19:48] tfrysinger opened #63 "Recorded videos sometimes show black, or pixelated portions"
**Describe the bug**
Recording using SD with sound (otherwise all standard settings), I have seen some instances where either the screen shows blank (but sound is there), or portions of the screen are pixelated. Other times it works fine.

I've created a folder on Dropbox with two sample videos in it [here](https://www.dropbox.com/sh/pk5s943sltnxcny/AABXyIkKocU6y_F8yAlNYkFPa?dl=0).

**Can it be re

[2021-04-07 21:14] tfrysinger commented on #63
More information - the output .mp4 files play fine on a Windows machine, but not on an iOS machine (i.e. 10.x apple phone)

[2021-04-09 11:26] jhon313 opened #64 "HBRecoder is crashing on nokia devices."
**Describe the bug**
App is crashing on start button , a toast appears of text"Some thing not supporting by your device" and did not start recording fully stop.

**Log**

com.hbisoft.hbrecorderexample E/GraphicExt: GraphicExtModuleLoader::CreateGraphicExtInstance false
/com.hbisoft.hbrecorderexample E/HBRecorder: HBRecorderOnStart called
/com.hbisoft.hbrecorderexample E/GraphicExt: GraphicExtModul

[2021-04-12 12:31] robertlevonyan commented on #60
Does it mean that in the new version there will be fix for the issue, or it will be just closed?

[2021-04-15 04:50] Namdh1212 opened #65 "Saved video with only 0kb"
I am testing on Android 5.1 then save the video with only 0kb
Android 10 sometimes fails

Can it be reproduced in demo app
Yes

HBRecorder version
for example 0.1.15

[2021-04-19 17:47] #63 closed

[2021-04-19 17:47] #64 closed

[2021-04-21 10:08] robertlevonyan commented on #60
it is not stale

[2021-04-25 08:23] #65 closed

[2021-04-26 06:37] Namdh1212 commented on #65
I am testing on Android 5.1 then save the video with only 0kb
Android 10 sometimes fails

Can it be reproduced in demo app
Yes

HBRecorder version
for example 0.1.15

[2021-05-01 17:47] #60 closed

[2021-05-02 07:47] kairusds opened #66 "Screen Capture Audio"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Add playback capture support for android 10+

**Describe alternatives you've considered**

**Additional context**

[2021-05-03 09:09] SGNight opened #67 "Is selling this app / library with small changes allowed ?"
I was doing some random google search & found this guy was selling source code of an app but when i check his screenshot i knew he was using using HBR source code and i downloaded his demo app which later confirms my doubts.
![image](https://user-images.githubusercontent.com/62793442/116858875-bcb56b80-ac1c-11eb-9e04-c6181047aaaf.png)

Link for the post

https://www.codester.com/items/30595/easy-s

[2021-05-03 18:36] ali0094 opened #68 "Is there a method to set max recording time limit programtically?"
Before filing a bug:
-----------------------
- Have a look at previously asked questions to see if your question has been asked before.
- Properly format your question.
- All questions should be asked in English.
- Questions that are not related to the project will be deleted
- Delete all the above before posting

[2021-05-12 11:16] #66 closed

[2021-05-14 13:28] #67 closed

[2021-05-17 14:59] aruproy opened #69 "NullPointerException: com.hbisoft.hbrecorder.ScreenRecordService.onStartCommand"
**Describe the bug**
I've received Runtime NullPointerException in production through Google Play console. I don't have access to the device. It would be great if you can resolve this issue. Otherwise, please suggest how I can catch it. Stack trace doesn't show my code.

**Log**
[code]
**Can it be reproduced in demo app**
No

**HBRecorder version**
0.1.15

**Device information**
- Huawei Mate 10 l

[2021-05-21 07:27] HBiSoft commented on #69
Please try the latest release. You can also add a try/catch when stating the recording.

Let me know how it goes. I will be closing the issue for now, but you are welcome to reopen it if it continues.

[2021-05-21 07:27] #69 closed

[2021-05-21 07:31] HBiSoft commented on #68
@ali0094 In the latest release you can set the max file size. You can use a timer if you want to set the max recording time for now.

I implement this over the weekend.

[2021-05-21 07:33] HBiSoft commented on #67
Thank you for reporting this. This is allowed as long as he/she is releasing it with the correct license. I encourage users to donate if they are making money using my library.

[2021-05-21 07:35] HBiSoft commented on #65
@Namdh1212
If you are still experiencing this issue, please provide me the log.
Also, you should test on a physical device and not an emulator.

[2021-05-21 07:36] HBiSoft commented on #64
@jhon313
Please try the latest release `0.1.16`, if the issue continues, please provide me the log.

[2021-05-21 07:55] HBiSoft commented on #63
@tfrysinger
It looks like the video uses h.264 Main Profile level 5.1, while iOS only supports AVC level 3.1
Unfortunately, there is not much I can do on my side as your device selects the best codec and the selected codec is not supported on the device you are playing it on.

You can decode the video before saving/sharing it. Have a look at [Transcoder](https://github.com/natario1/Transcoder).

[2021-05-21 07:56] HBiSoft commented on #60
This should be fixed in the latest release - `0.1.16`

[2021-05-21 08:08] robertlevonyan commented on #60
tnx

[2021-05-21 13:38] tfrysinger commented on #63
Thanks, will take a look.

T

On Fri, May 21, 2021 at 1:56 AM Hagen Brooks ***@***.***>
wrote:

[2021-05-23 06:36] HBiSoft commented on #68
This is now possible in version `2.0.0` using `hbRecorder.setMaxDuration(int);`. Provide the max duration in seconds.

Thanks for the suggestion.

[2021-05-23 06:36] #68 closed

[2021-05-29 20:49] aruproy commented on #69
@HBiSoft Thank you for your quick response. I released an update with 2.0.0. However I had to quickly rollback to older 0.1.15 due to this error:

"**HBRecorderOnError: Some settings are not supported by your device. errorCode: 38 reason: 268435556**"

**I got the error on multiple devices in production:**

CPH1725( OPPO CPH1725) Android 25
X683-OP( INFINIX MOBILITY LIMITED Infinix X683 ) Android

[2021-06-01 03:35] TehleelMir opened #70 "What is error code 38 and 268435556 stands for?"
it worked fine on android O but when I run the same code on android P it pop up error message with code 38 and 268435556

[2021-06-01 06:46] HBiSoft commented on #70
Please provide your settings used when the crash happens.

This is most probably because you are passing settings that's not supported by your device.

[2021-06-02 03:28] TehleelMir commented on #70
i tried to set all possible setting on their lowest value but it still poped the same thing

[2021-06-03 15:13] HBiSoft commented on #70
Closing until more information is provided. As the question stands now, it could be anything causing this.

[2021-06-03 15:13] #70 closed

[2021-06-04 11:18] friendscorpgroup opened #71 "Video recording not working for android 6 , stops immediately"
**Describe the bug**
Library works well with other versions android 9 and 10 tested , but on android 6 recorder starts but getting stopped immediately with file generated of some KBs  in storage directory , not playable .

**Log**
MainActivity: errorcode : 38 reason : 268435556

 E/HBRecorderCodecInfo: defaultVideoEncoder for (video/avc) -> OMX.MTK.VIDEO.ENCODER.AVC
 E/HBRecorderCodecInfo: MaxSupp

[2021-06-04 11:51] HBiSoft commented on #71
Please try and set the width/height to:

Width = 1920 Height = 1080

Instead of:

Width = 1080 Height = 1920

[2021-06-04 12:12] friendscorpgroup commented on #71
it gives FALSE for that method , tried different values
isSizeAndFramerateSupported @ Width = 1920 Height = 1080 FPS = 30 -> false
isSizeAndFramerateSupported @ Width = 1920 Height = 1080 FPS = 20 -> false
isSizeAndFramerateSupported @ Width = 1080 Height = 1920 FPS = 20 -> false
sSizeAndFramerateSupported @ Width = 540 Height = 960 FPS = 20 -> false

[2021-06-04 16:08] HBiSoft commented on #71
That's strange. I can give a few recommendations that you can try.

1. First, check on the demo application if this occurs when selecting quick settings (not custom settings)
2. If that fails, select "Use custom settings", select the menu and set the video encoder to either "H254", "H263" or "MPEG_4_SP.
3. If that fails, set the output format to "Default".

For some reason your encoder doesn't wan

[2021-06-05 05:04] friendscorpgroup commented on #71
Yes , it works with "H264" Encoder from custom settings , "default" doesn't work. So can you please suggest if I can use hbRecorder.setVideoEncoder("H264"); for all then Or if i need to check isSizeAndFramerateSupported with different encoders is there any method ?

[2021-06-10 18:09] FflushLife opened #72 "SurfaceFlinger's memory is increased without stop"
**Describe the bug**
When I run simple app with just `hbRecorder` started recording, surfaceflinger process starts consume more and more memory. It is increased in 10 seconds by 1 Mb on average. That may be observed in `top` program from adb for example when the screen is not static. This problem is reproduced on Emulators with API <= 28 and it kills them after some time. I guess that this is a bu

[2021-06-11 10:20] KanwalKhan-20 opened #73 "Screen recording not working in android version 10"
**HBRecorder version**
for example 2.0.0

**Device information**
  Samsung
- SDK version 29

**Screenshots**
If applicable, add screenshots to help explain your problem.
![WhatsApp Image 2021-06-11 at 3 17 20 PM](https://user-images.githubusercontent.com/41869999/121671713-57308680-cac8-11eb-8ecc-69c79eb63464.jpeg)
![WhatsApp Image 2021-06-11 at 3 17 06 PM](https://user-images.githubusercontent.co

[2021-06-15 09:36] #71 closed

[2021-06-21 12:09] #72 closed

[2021-06-21 15:15] #73 closed

[2021-06-27 08:54] Faisal-Naseer opened #74 "Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String android.content.Intent.getAction()' on a null object reference at com.hbisoft.hbrecorder.ScreenRecordService.onStartCommand(ScreenRecordService.java:91)"
Hi, I am recieving alot of crashes from the service you arae using in your library
Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String android.content.Intent.getAction()' on a null object reference
       at com.hbisoft.hbrecorder.ScreenRecordService.onStartCommand(ScreenRecordService.java:91)

[2021-06-27 13:11] preyankk28 opened #75 "Crashes on media recorder.start java.lang.IllegalStateException at android.media.MediaRecorder.start(Native Method)"
java.lang.IllegalStateException at android.media.MediaRecorder.start(Native Method)

I have used everything default but it still crashes
ava.lang.IllegalStateException at android.media.MediaRecorder.start(Native Method)

[2021-06-28 12:17] Faisal-Naseer opened #76 "unable to generate notifcation icon"
I have set the notification icon which doesnt show up and gives exception
Fatal Exception: android.app.RemoteServiceException
Bad notification posted from package *********: Couldn't create icon: StatusBarIcon(icon=Icon(typ=RESOURCE pkg=com.screenrecorder.videorecorder.backup.restore.free.zp id=0x7f0f0002) visible user=0 )
android.app.ActivityThread$H.handleMessage

and get greyed out icon when st

[2021-07-06 16:26] Faisal-Naseer opened #77 "Settings not supported by your phone"
I recieve an eror setting not supported by your phone and it doesnt record can you explain why this happens in my Techno spark 7 pro phone. what specific settings it look for?

[2021-07-07 15:14] #75 closed

[2021-07-08 13:11] #76 closed

[2021-07-11 21:28] Charles0115 opened #78 "Android 11 recordings are corrupted sometimes"
**Describe the bug**
This bug is best described by a video. The bug is this: when I finish recording and go into "File". The video in "Video" section can be played, but the video in "The internal storage" cannot. Sometimes it happens, sometimes not.
Youtube Link: https://youtu.be/ujidZIHkTus
![Screenshot_20210711-170330](https://user-images.githubusercontent.com/44145778/125209962-ac4bed80-e26a-11

[2021-07-12 16:09] #74 closed

[2021-07-14 14:34] Charles0115 opened #79 "Android 11 WRITE_EXTERNAL_STORAGE permission no longer works"
According to Google,
If your app targets Android 11, both the WRITE_EXTERNAL_STORAGE permission and the WRITE_MEDIA_STORAGE privileged permission no longer provide any additional access.

This causes the app cannot start recording in Android 11.

[2021-07-14 15:14] HBiSoft commented on #79
Where does this library use `WRITE_EXTERNAL_STORAGE`?

[2021-07-14 15:29] Charles0115 commented on #79
checkSelfPermission(Manifest.permission.WRITE_EXTERNAL_STORAGE, PERMISSION_REQ_ID_WRITE_EXTERNAL_STORAGE))

[2021-07-14 15:31] Charles0115 commented on #79
The recording can be started when I remove the EXTERNAL_STORAGE permission, but this issue occurs.
https://github.com/HBiSoft/HBRecorder/issues/78

[2021-07-14 16:21] HBiSoft commented on #79
Ok, `Manifest.permission.WRITE_EXTERNAL_STORAGE` can be removed. I must have forgotten to remove it when updating the `targetSdkVersion` to 30. I will remove it in the next release.

As for the other issue, I will comment there.

[2021-07-14 16:22] HBiSoft commented on #78
Just to check, can you restart your device and see if the videos are playable then.

[2021-07-14 16:24] #79 closed

[2021-07-14 16:57] Charles0115 commented on #78
I couldn't reproduce one right now, like I said it's a chance thing. I'll keep trying.
Maybe because MANAGE_EXTERNAL_STORAGE permission affects the library.

[2021-07-16 21:27] #77 closed

[2021-07-17 17:10] HBiSoft commented on #78
`the issue occurred again. I restarted and this time the video is playable as normal. Strange`

The issues seems to be with the updating/refreshing of the created file and not directly related to the library:

https://github.com/HBiSoft/HBRecorder/blob/a8207fe6b05f0a7701516ad83e881403e491130b/app/src/main/java/com/hbisoft/hbrecorderexample/MainActivity.java#L292-L297

I'm not sure why this is happ

[2021-07-17 17:53] Charles0115 commented on #78
The issue persists.
One thing to notice is that videos from two different places have different sizes.

![Screenshot_20210717-135001](https://user-images.githubusercontent.com/44145778/126045696-ec399643-bc86-4fcc-9211-3f1169c09e82.png)
![Screenshot_20210717-134946](https://user-images.githubusercontent.com/44145778/126045703-681c32aa-93f6-4cae-a333-f04d897f6941.png)

[2021-07-22 22:40] omkar-tenkale opened #80 "Allow working without unnecessary storage and mic permissions"
**Is your feature request related to a problem? Please describe.**
User must allow unnecessary permissions to storage and microphone even if audio is recording is not required and
recording path is app's internal dir (/data/data/com.pkg/....)

**Describe the solution you'd like**
Recorder should not call onerror without checking if permissions are really required for current setting

**Describe al

[2021-07-22 22:47] omkar-tenkale commented on #80
Currently if dont give Microphone permission and use

`                    hbRecorder.isAudioEnabled(false);`

Still i get error
[code]

[2021-07-23 03:47] omkar-tenkale commented on #80
Works ok now,might be some silly mistake

[2021-07-23 03:47] #80 closed

[2021-07-23 18:36] omkar-tenkale commented on #80
Very nice helpful library.Thanks for the efforts  ❤️

[2021-07-27 21:04] #78 closed

[2021-07-31 10:30] zeeshan5446 opened #81 "some setting are not supperted by your device"
hello HBRecorder
i m facing some issue on android 9 and 11.
infinix hot 8 android version 9,
im start recording toast show "some setting are not supperted by your device."
pls solve my issuse screenshot is atteched
![error](https://user-images.githubusercontent.com/31355393/127737048-05641c6e-54a8-4454-8be5-f251ba3b0de6.PNG)
![Screenshot_20210731-151340](https://user-images.githubusercontent.com/3

[2021-08-04 04:01] kali517 opened #82 "This app record only mic sounds. But system sound is not recording. Because of this reason We can't record zoom meetings. Because zoom use mic to record audio for record zoom audio we have to add system sound recording feature."
**Is your feature request related to a problem? Please describe.**
We can't record zoom meetings audio.

**Describe the solution you'd like**
When we in a zoom or microsoft team meeting we can't start recording screen. Sometimes it starts but audio not working.

**Describe alternatives you've considered**
For correct this error we can add record system sound recording feature.

**Additional contex

[2021-08-10 13:44] #81 closed

[2021-08-11 09:06] kali517 commented on #82
welcome!!!

On Wed, Aug 11, 2021 at 11:50 AM stale[bot] ***@***.***>
wrote:

[2021-08-11 21:56] YLPeng opened #83 "setAudioSource failed on screen recording"
Hello,

Thank you for developing this library:)

I have received following exception when trying to record the screen. The permission for RECORD_AUDIO has granted prior to calling the record. Could you please give me a hint?

Screen recording on error!: errorCode:100, reason:java.lang.RuntimeException: setAudioSource failed.
        at android.media.MediaRecorder.setAudioSource(Native Method)

[2021-08-11 22:31] YLPeng commented on #83
After double checking the record audio permission it worked.. closing. Thanks

[2021-08-12 13:29] TalhaManzoor opened #84 "showing error when i am trying to run on android 10. error "some setting are not supported by your device""
READ THIS BEFORE OPENING AN ISSUE:
-----------------------
- Fill in all the information below.
- Have a look at previously asked questions to see if your issue has been resolved.
- Properly format your issue.
- All issues should be asked in English.
- Delete all the above before posting your issue

**Describe the bug**
A clear and concise description of what the bug is.

**Log**
Please provide a

[2021-08-12 14:47] #84 closed

[2021-08-16 09:11] robertlevonyan opened #85 "Null Pointer Exception in HBRecorderCodecInfo"
**Describe the bug**
The error is from Crashlytics

**Log**
   `Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String android.content.Intent.getAction()' on a null object reference
       at com.hbisoft.hbrecorder.HBRecorderCodecInfo.getMaxSupportedWidth(HBRecorderCodecInfo.java:8)
       at com.hbisoft.hbrecorder.ScreenRecordService.onStartCommand(ScreenReco

[2021-08-21 11:54] #82 closed

[2021-08-30 20:57] rodtaborda opened #86 "Pause and Resume not working"
Is there any specific  way to implement Pause and Resuming? I'm trying to use but it's not working.

Nothing happens after call hbRecorder.pauseScreenRecording(). ,

If I check using hbRecorder.isRecordingPaused() after call pause, it returns false and hbRecorder.isBusyRecording() returns true.

[code]

[2021-09-10 01:43] #86 closed

[2021-09-13 11:37] FdevTech opened #87 "ANR problem"
READ THIS BEFORE OPENING AN ISSUE:
-----------------------
- Fill in all the information below.
- Have a look at previously asked questions to see if your issue has been resolved.
- Properly format your issue.
- All issues should be asked in English.
- Delete all the above before posting your issue

**Describe the bug**
hello, I tested this library against two devices one uses Android 7 and the se

[2021-09-13 15:29] HBiSoft commented on #70
If more information was provided, I would've been able to help.

https://github.com/HBiSoft/HBRecorder/blob/a8207fe6b05f0a7701516ad83e881403e491130b/hbrecorder/src/main/java/com/hbisoft/hbrecorder/ScreenRecordService.java#L302

`268435556` is an error code from `MediaRecorder` and not the library.

[2021-09-14 08:53] Mhmetengineer commented on #70
@HBiSoft error this line.. => https://ibb.co/9sXgzsC

[2021-09-15 11:38] Mhmetengineer commented on #70
Solved this problem.. @TehleelMir  ...
Our device not supported default video encoder..
H264 , H263, HEVC, MPEG_4_SP OR VP8
My device support HEVC .
 hbRecorder.setVideoEncoder("HEVC");  working in my project..

[2021-09-15 12:47] HBiSoft commented on #70
You can make use of the `HBRecorderCodecInfo.java` class, as shown in the demo application, to check what settings and encoder is supported and then make the changes accordingly:

https://github.com/HBiSoft/HBRecorder/blob/a8207fe6b05f0a7701516ad83e881403e491130b/app/src/main/java/com/hbisoft/hbrecorderexample/MainActivity.java#L137-L173

[2021-09-16 13:10] robertlevonyan opened #88 "Issue on Android 12"
**Describe the bug**
Error on Android 12

**Log**
Caused by java.lang.IllegalArgumentException: com.robertlevonyan.testy: Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE be specified when creating a PendingIntent.
Strongly consider using FLAG_IMMUTABLE, only use FLAG_MUTABLE if some functionality depends on the PendingIntent being mutable, e.g. if it needs t

[2021-09-23 14:35] #87 closed

[2021-09-24 06:23] robertlevonyan commented on #88
Any news? @HBiSoft

[2021-10-04 17:57] #88 closed

[2021-10-05 07:33] robertlevonyan opened #89 "Lib not working on Android 12"
Describe the bug
Error on Android 12

Log
Caused by java.lang.IllegalArgumentException: com.robertlevonyan.testy: Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE be specified when creating a PendingIntent.
Strongly consider using FLAG_IMMUTABLE, only use FLAG_MUTABLE if some functionality depends on the PendingIntent being mutable, e.g. if it needs to be use

[2021-10-05 20:54] admarwick opened #90 "Black-screen video when running on Android 12 Emulator"
**Describe the bug**
Running the HBRecorder Example on the Emulator (Pixel 5 api S) produces a video with a black blank screen. No errors seen in the log. The video was viewed with the _Photos_ app on the Emulator.

The same project ran correctly on a different Emulator (Pixel 3a API 29).

**Log**
Since there was no message in the log that I recognized as an error I am showing the entire installat

[2021-10-06 10:56] fukemy commented on #54
hi, did u solved this? THanks

[2021-10-07 08:10] HBiSoft commented on #88
No there's not a new version. If you can change that line, test it using the demo app and confirm that it's working, then I can implement it into the library.

[2021-10-07 08:20] HBiSoft commented on #88
Ok, I will change it and release a new version.

[2021-10-07 08:20] robertlevonyan commented on #88
thanks

[2021-10-07 09:30] robertlevonyan commented on #89
thanks

[2021-10-08 07:01] khawajaetisam99 commented on #81
Hi,

I came across the same problem.
After hours of debugging, I found the solution:

the problem is in the video encoder.
Try to set the video encoder in the file:
hbrecorder\src\main\java\com\hbisoft\hbrecorder\ScreenRecorderservice.java

from:
setvideoEncoderAsInt("DEFAULT");

to:
setvideoEncoderAsInt("H264");
(provided that H264 encoder is supported on all devices and rest of encoders generate

[2021-10-25 18:23] Shah-Aayush opened #91 "Permission error"
**Describe the bug**
Cannot start recording

**Log**
shows **toast** :`No permission for android.permission.WRITE_EXTERNAL_STORAGE` on pressing start button.

**Can it be reproduced in demo app**
installed this [apk](https://github.com/HBiSoft/HBRecorder/releases/tag/2.0.1) on physical device got error.

**HBRecorder version**
[2.0.1](https://github.com/HBiSoft/HBRecorder/releases/tag/2.0.1)

**De

[2021-10-27 23:40] fluidadsjtr opened #92 "Record only part of the screen"
Is it possible to record just part of the screen so set x, y and width and height?

[2021-10-28 06:02] #92 closed, assigned to nobody

[2021-10-28 08:21] ShizaS opened #93 "App crashes as soon as i start video recording"
**Problem**
I have integrated the library in my app and I followed the document while integrating. The issue is as soon as I press start recording on the pop up the app crashes.

**Error**
E/MediaRecorder: SurfaceMediaSource could not be initialized!
E/MediaRecorder: start called in an invalid state: 32

**HBRecorder version**
2.0.1

**Device information**
- Xiaomi 9T
- android version 10

[2021-10-28 09:03] #91 closed, assigned to nobody

[2021-10-28 09:04] #93 closed, assigned to nobody

[2021-10-28 13:52] NetylkinOV opened #94 "Format record file"
**Describe the bug**
Cant change file format. Every files recorded as
Format profile              : 3GPP Media Release 4
Codec ID                    : 3gp4 (isom/3gp4)

I am try change by option hbRecorder.setVideoEncoder("supported types") but file anyway have format 3GPP.
Any way here change format? I need somthing like
Format profile              : Base Media / Version 2
Codec ID

[2021-10-29 02:46] #94 closed, assigned to nobody

[2021-11-02 05:23] ShizaS commented on #93
@HBiSoft thanks for the quick response. Demo app is working fine now.

[2021-11-02 05:30] HBiSoft commented on #93
@ShizaS
Thanks for letting me know.

[2021-11-02 11:42] illescasDaniel commented on #3
Setting "H264" as video encoder worked for me: recorder.setVideoEncoder("H264")

[2021-11-05 09:40] saudkhan488 opened #95 "I'm facing this issue Failed to resolve: com.github.HBiSoft:HBRecorder:2.0.2"
I'm facing this issue
Failed to resolve: com.github.HBiSoft:HBRecorder:2.0.2

[2021-11-05 09:40] saudkhan488 commented on #95
Failed to resolve: com.github.HBiSoft:HBRecorder:2.0.2

[2021-11-05 09:46] HBiSoft commented on #95
Did you add the following in your root `build.gradle'?

[code]

[2021-11-05 10:07] HBiSoft commented on #95
I'm closing this issue since it's not related to the library. You can have a look at the read me to see how to implement the library into your project.

[2021-11-05 10:07] #95 closed

[2021-11-05 14:41] ShizaS opened #96 "handle the screen recording alert"
How to handle the screen recording alert. Is there any callback for cancel or start recording so that actions can be take accordingly?

[2021-11-07 03:53] HBiSoft commented on #96
I'm not sure I understand what you mean? Can you please  elaborate?

[2021-11-07 15:48] HBiSoft commented on #96
Closing until I get a response.

[2021-11-07 15:48] #96 closed

[2021-11-08 05:38] ShizaS commented on #96
@HBiSoft When i call the **startScreenRecording** function i get a popup like this [https://drive.google.com/file/d/1XOKKRd1uVO42FYMXj2rMOylT__vuiHCg/view?usp=sharing](url). Now everything works as expected when I press the **start now** but I cant seem to find a way on handling it when i press **cancel**

[2021-11-08 05:52] HBiSoft commented on #96
You can change:

https://github.com/HBiSoft/HBRecorder/blob/29ebf6b112804285e4d3ce44e8a95c605d1c64b7/app/src/main/java/com/hbisoft/hbrecorderexample/MainActivity.java#L592-L602

To the following:

[code]

[2021-11-08 05:59] kamaljeeta6221 opened #97 "how i can record internal audio ?"
Before filing a bug:
-----------------------
- Have a look at previously asked questions to see if your question has been asked before.
- Properly format your question.
- All questions should be asked in English.
- Questions that are not related to the project will be deleted
- Delete all the above before posting

[2021-11-08 06:14] ShizaS commented on #96
It works. Thanks a lot for a quick response.

[2021-11-08 08:10] HBiSoft commented on #97
I will pin this issue for other users to see in the future. This question has been asked a couple of times.

As the library is now, it is not possible. You can have a look at the [AudioPlaybackCapture API](https://developer.android.com/guide/topics/media/av-capture#capture_audio_playback). Apparently, using this API, you will be able to record internal audio / audio from other applications (I have

[2021-11-08 08:10] #97 closed

[2021-11-10 07:47] HBiSoft commented on #86
Not sure if you found a solution. Remember, this is only available for devices running 24>. You also didn't mention if you were able to reproduce it on the demo app.

[2021-11-10 08:03] HBiSoft commented on #81
I will pin this issue because there is a lot of people asking this question.

---
You can use `HBRecorderCodecInfo` to get the supported settings for your specific device.

If you want to use `default`, it's important to first check if your device can set `default` encoder, using a `try`/`catch`.

You can also make use of the following to get the supported video codec:

https://github.com/HBiSoft/

[2021-11-10 08:50] ShizaS opened #98 "Exclude UI elements from Screen Recording"
**Question**
While capturing the screen with HBRecorder, is there a way to exclude UI elements from the recording?
 **Use Case**
 I'm developing an app that has a dual-camera feature. In the case of video capturing, I'm recording the screen. Now I have a capture button that I want to be displayed on the screen all the time, but I don't want it to be captured in screen recording so that the resulta

[2021-11-11 14:46] HBiSoft commented on #98
I have not tested it but according to [this](https://stackoverflow.com/a/35997610/5550161) answer, you will be able to hide a view by making use of a `SurfaceView` and setting the secure flag to true. [Here](https://github.com/google/grafika/blob/master/app/src/main/java/com/android/grafika/MultiSurfaceActivity.java) is the example mentioned in that answer.

[2021-11-11 14:46] #98 closed

[2021-11-12 13:03] AkmalAfzal07 opened #99 "I am getting error whenever I try to open recorded video. I use this library to record screen overlays with open camera facing towards back."
READ THIS BEFORE OPENING AN ISSUE:
-----------------------
- Fill in all the information below.
- Have a look at previously asked questions to see if your issue has been resolved.
- Properly format your issue.
- All issues should be asked in English.
- Delete all the above before posting your issue

[2021-11-12 13:38] HBiSoft commented on #99
Please see [Always fill in the issue template](https://github.com/HBiSoft/HBRecorder/issues/31)

[2021-11-12 13:38] #99 closed

[2021-11-17 05:39] ShizaS commented on #98
@HBiSoft as far as I understand setting the secure flag prevents taking screenshots of that screen. What I want is to allow the screen recording but don't show buttons in resultant video

[2021-11-17 12:39] ShizaS commented on #98
@HBiSoft thanks for the tip. I tried this solution and it works. But the issue is the resultant video shows black part where the surface view is placed.

[2021-11-24 15:34] JJdeGroot opened #100 "Notification icon causes crash"
**Describe the bug**
When starting the screen recorder, it immediately crashes when loading the default notification icon.

Somehow the Demo app does work. The only difference I can find is that it sets the notification icon with a byte array. When I do this, my own app still crashes. Other than changing the notification settings, everything is set to default.

**Log**
[code]

**Can it be reproduc

[2021-11-24 15:39] JJdeGroot commented on #100
The app also crashes on Lenovo P2a42 with Android 7 / API 24

[code]

[2021-11-24 16:00] JJdeGroot opened #101 "Crash when setting notification icon with alpha channel / vector"
**Describe the bug**
App crashes when setting a notification icon resource which has an alpha channel and/or is a vector resource.

It crashes on this line `icon.compress(Bitmap.CompressFormat.PNG, 100, stream);` inside the `setNotificationSmallIcon` method.

icon_notification.xml
[code]

**Log**
[code]

**Can it be reproduced in demo app**
No, demo app uses byte array to set icon

**HBRecorder ve

[2021-11-24 16:08] HBiSoft commented on #100
Please show me how you set the notification icon.

[2021-11-24 16:19] JJdeGroot commented on #100
Setup:

[code]

[2021-11-24 16:19] JJdeGroot commented on #101
Setup code:
[code]

[2021-11-24 16:21] HBiSoft commented on #100
Ok, closing. I will reply on your other issue.

[2021-11-24 16:21] #100 closed

[2021-11-24 16:22] HBiSoft commented on #101
Currently, vectors are not supported. I will add an option to set vectors tomorrow.

[2021-11-30 20:50] TheStarkster opened #102 "How to write properly into application's document directory?"
So I'm trying to create a `flutter package` for this library. In flutter we have access to the application's document directory (/data/data/com.example.app/). So i wanted to implement custom path but unfortunately i am unable to achieve so.

But strange thing is that i am getting a file written in the given location by using `setOutputPath` api but its just black colored mp4 file but it has audio

[2021-12-02 06:34] HBiSoft commented on #101
Apologies for the delay. The [new release](https://github.com/HBiSoft/HBRecorder/releases/tag/2.0.3) `2.0.3` is now available. You are now able to use a vector drawable.

[2021-12-02 06:34] #101 closed

[2021-12-02 06:37] HBiSoft commented on #102
What happens when you use the demo application? Does the video play correctly?

[2021-12-02 06:48] TheStarkster commented on #102
yes that works perfectly fine...even though if i use that source code in the flutter...that also works fine, but the problem arises when i try to save the video to some other location

[2021-12-02 06:50] HBiSoft commented on #102
Please show me how you set the location and what device you are using.

[2021-12-02 07:03] TheStarkster commented on #102
@HBiSoft there you go

#### `MainActivity.kt`
[code]

#### `ScreenRecordHandler.java`
[code]

[2021-12-02 07:24] HBiSoft commented on #102
What is `call.argument<String>("path")`?

[2021-12-02 07:27] TheStarkster commented on #102
its a string value that i am receiving from my flutter code; path contains "/data/data/com.example.app/app_flutter"
and filename contains "native_recording"

[2021-12-03 10:09] TheStarkster commented on #102
@HBiSoft any suggestion?

[2021-12-03 11:33] HBiSoft commented on #102
I'm sorry but I can't help you with this. I can't see why the video is working when saving it to `MediaStore` and not when saving it to `/data/data/package/`.

[2021-12-03 11:33] #102 closed

[2021-12-13 02:59] h4h4da2 opened #103 "null point exeception on Vivo Android 10"
**Describe the bug**
crashed when start record screen

**Log**
    Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String android.content.Intent.getAction()' on a null object reference
	at com.hbisoft.hbrecorder.ScreenRecordService.onStartCommand(ScreenRecordService.java:91)
	at android.app.ActivityThread.handleServiceArgs(ActivityThread.java:4408)

**Device*

[2021-12-13 03:08] h4h4da2 commented on #103
maybe

can slove this problem。or just return when intent is null

[2021-12-14 02:40] #103 closed

[2021-12-20 05:46] shahnavazansaribit opened #104 "Some settings are not supported by your device."
**Describe the bug**
"Some settings are not supported by your device."
    I've tried all the video encoders. For `HEVC` and `VP8` I am seeing a different error with error code `100`. But for the rest of the encoders this is the issue. I've tried changing output formats as well. None of them seems to work. I've observed that this issue I am facing is on the devices that have `MediaTek Processor`.

[2021-12-20 14:57] HBiSoft commented on #104
Can you try and change the resolution in the demo application to `1920x1080` and see if it works?

[2021-12-20 15:00] shahnavazansaribit commented on #104
I tried the combination of H264 with Output format MPEG_4 with resolution 1920x1080. This works. But on my this device the resolution is 2400x1080. That is where I see this error.

[2021-12-23 18:19] mishu311289 opened #105 "How can I get the path for recorded file?"
I tried but I'm only getting content uri which is not getting converted to a valid file path. Getting file not found exception while trying to compress the video file. Any help will be much appreciated.

[2021-12-24 05:11] HBiSoft commented on #105
`hbrecorder.getFilePath()` will only return the file path if it was set using `hbrecorder.setOutputPath(String)`. This library doesn't convert `Uri`'s to File paths, it returns the file path that was set, if it was set. You can have a look at the demo application:

https://github.com/HBiSoft/HBRecorder/blob/d8efaae89566ca221827a255106589737cfca36b/app/src/main/java/com/hbisoft/hbrecorderexample/Ma

[2021-12-24 05:11] #105 closed

[2021-12-27 14:32] mishu311289 commented on #105
yeah I got that but my requirement is to compress the recorded file once recording is complete so I need to get information about where did the recorded file saved. When I'm trying to convert the output uri (which I'm setting via setOutputUri) to file path it's resulting in file not found exception so I just want to ask how can I get the information on path where the recorded file was saved so tha

[2021-12-31 00:08] #104 closed

[2021-12-31 23:09] limelect opened #106 "I have new source with add on"
I have a new source with fixed problems and an addon
if you want get in touch

[2022-01-11 23:21] #106 closed

[2022-01-14 16:10] mishu311289 opened #107 "Is there an option to add a button throughout the app and outside the app also to indicate and stop screen recording?"
Before filing a bug:
-----------------------
- Have a look at previously asked questions to see if your question has been asked before.
- Properly format your question.
- All questions should be asked in English.
- Questions that are not related to the project will be deleted
- Delete all the above before posting

[2022-01-14 16:25] limelect commented on #107
Notification does that

[2022-01-24 23:24] #107 closed

[2022-02-10 16:06] HBiSoft commented on #106
You are more than welcom to create a pull request. Thanks for letting me know

[2022-02-16 10:11] Ahsankhansadozai opened #108 "Not Working on android 11"
READ THIS BEFORE OPENING AN ISSUE:
-----------------------
- Fill in all the information below.
- Have a look at previously asked questions to see if your issue has been resolved.
- Properly format your issue.
- All issues should be asked in English.
- Delete all the above before posting your issue

**Describe the bug**
A clear and concise description of what the bug is.

**Log**
Please provide a

[2022-02-16 11:09] HBiSoft commented on #108
Please see [Always fill in the issue template](https://github.com/HBiSoft/HBRecorder/issues/31)

[2022-02-16 11:09] #108 closed

[2022-02-24 13:15] mishu311289 opened #109 "Recording is failing on some devices."
READ THIS BEFORE OPENING AN ISSUE:
-----------------------
- Fill in all the information below.
- Have a look at previously asked questions to see if your issue has been resolved.
- Properly format your issue.
- All issues should be asked in English.
- Delete all the above before posting your issue

**Describe the bug**
Recording is failing on some devices like Motorola Moto X play (Android 7.1.1)

[2022-03-01 04:26] mishu311289 commented on #109
Can anybody help regarding that?

[2022-03-03 09:49] ANHNST opened #110 "illegalStateException with errorCode 268435556 in Android 8"
**Describe the bug**
When I record a video call (using react-native-webRTC library to handle) in device Sony XZ2 Android 8 and get error java.lang.IllegalStateException with errorCode 268435556
but when I record in device XiaoMi BlackShark 3 Android 11 then HBRecorder record normal.
**Log**
Please provide a well formatted bug report (by adding 4 spaces before the log)

    2022-03-03 16:37:44.968

[2022-03-12 10:59] #109 closed

[2022-03-15 01:01] #110 closed

[2022-03-23 07:52] AkshayAdiga1997 opened #111 "Start recording after a delay/sleep."

[2022-03-30 06:04] #111 closed

[2022-04-06 16:22] robertlevonyan opened #112 "Crash from Crashlytics"
**Describe the bug**
The crash is from crashlytics

**Log**
[code]
**Can it be reproduced in demo app**
no

**HBRecorder version**
2.0.3

**Device information**
- Galaxy A20
- SDK version 30

[2022-04-06 17:26] HBiSoft commented on #112
I cannot believe this issue was not reported before. I fixed it and will push the new release shortly.
My apologies for this simple mistake and thank you for reporting it.

[2022-04-06 17:41] HBiSoft commented on #112
It should be fixed in `2.0.4`

[2022-04-14 13:34] hitesharora1992 opened #113 "App carsh when start the recording"
[code]

[2022-04-15 06:33] hitesharora1992 commented on #113
its is working when i start the recording in the app. when app in background mode when i start the recording through floating button or notification bar then this error accorded.

[2022-04-15 06:35] hitesharora1992 commented on #113
i have set the audio source before starting the recording

[2022-04-15 06:40] HBiSoft commented on #113
Is there any other applications running when you start the recording?

What did you set it to?

[2022-04-15 08:26] hitesharora1992 commented on #113
i have set Mic in audio source

[2022-04-15 08:27] hitesharora1992 commented on #113
no other application is running when i start the recording.

[2022-04-15 08:39] HBiSoft commented on #113
With the small amount of information you have provided, it's impossible to help you.

Please provide the code snippet where you start the recording from your floating button (background) and where you start the recording from inside the application (foreground).

[2022-04-15 09:03] hitesharora1992 commented on #113
https://user-images.githubusercontent.com/103649570/163550772-eb157969-7fad-4abc-a1e1-74db85c867f8.mp4

[2022-04-19 18:55] #113 closed

[2022-04-21 02:22] hdev72 opened #114 "Can we switch audio source type while recording?"
Hello dear friend.
I want to ask Can we switch audio source type while recording?

Thnks

[2022-04-21 05:20] HBiSoft commented on #114
As far as I'm aware, it's not possible.

[2022-04-21 05:20] #114 closed

[2022-04-21 05:22] HBiSoft commented on #113
@hitesharora1992 Did you resolve this issue? What was wrong?

[2022-04-21 05:27] HBiSoft commented on #110
This issue slipped by me somehow. It's pointing to `MediaRecorder.MEDIA_RECORDER_INFO_MAX_FILESIZE_REACHED`. I assume you set a max file size.

[2022-05-07 17:19] jsericksk commented on #97
Any update on this? Do you plan to add this functionality in the future? @HBiSoft

[2022-05-19 07:32] yasirkhiljee opened #115 "can i record specific view ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-05-19 07:54] HBiSoft commented on #115
Please see #22

[2022-05-19 07:54] #115 closed

[2022-05-20 12:24] blazingdevil44 opened #116 "Notification Timer to know how much time has passed since starting recording"
Hi Can you please tell me how to add timer to notification so you can length of video in Realtime ill be really grateful for your answer thanks in advance

[2022-05-20 12:35] sofronovicnikola opened #117 "Memory Leak"
**Describe the bug**
Facing OutOfMemory exceptions due to memory leaks coming from your library. Memory leaks are being detected after `hbRecorder.stopScreenRecording()` is called.

**Log**
Logs are from [LeakCanary](https://square.github.io/leakcanary/).

0 APPLICATION LEAKS

    References underlined with "~~~" are likely causes.
    Learn more at https://squ.re/leaks.
    ======================

[2022-05-21 10:21] goforu commented on #22
Corpping actionBar height using ffmpeg is only applied for portrait mode. However, landscape mode come with lots of complexity. You have to consider camera space, virtual back buttons. And even more, different phone model varies.

[2022-05-21 10:35] HBiSoft commented on #117
Is your application in the foreground when stopping the recording?

[2022-05-21 12:08] sofronovicnikola commented on #117
Yes

[2022-05-21 12:20] HBiSoft commented on #117
That's strange.
Let me run it on the library itself. Give me some time and I will get back to you.

[2022-05-24 12:11] sofronovicnikola commented on #117
Any updates? Thanks.

[2022-05-26 10:38] mhashim6 commented on #104
Same on pixel 2 xl emulator API 28 and 29. No combination works

[2022-05-27 06:36] HBiSoft commented on #117
@sofronovicnikola
My apologies for the late reply.

I was able to see the leak, however, I don't know how and why it is happening.
I saw [this answer](https://stackoverflow.com/a/67878601/5550161), which eliminates this leak, but then I get the following leak:

[code]
The problem seems to come from [here](https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/hardware

[2022-05-27 06:56] HBiSoft commented on #116
I might look at implementing this, but I do not have the time at the moment. I will try and look at it over the weekend.

[2022-05-27 06:56] #116 closed

[2022-05-27 11:22] blazingdevil44 commented on #116
I did it by adding .setUsesChronometer(true) in notification its simple and easy i dont know if it works on older api but its working for me xD

[2022-06-12 09:35] #117 closed

[2022-06-12 15:42] developwithrk commented on #97
Please add Internal Audio Feature, even I see there have many filling issues to option. when recording all currently selected items was goes to default.

[2022-06-25 08:06] thanhbouet opened #118 "setAudioSource failed"
I am using HBRecorder, i had error " *[java.lang.RuntimeException: setAudioSource failed] many times but i don't know where it come from.  I had cheked AUDIO_RECORD permission and it's ok. Can you tell me where this error come from. Thanks and sorry for my bad English.

[2022-06-27 08:32] thenewmagician opened #119 "Record a specific App"
Is it possible to program the recorder to capture only one app (only one activity)? For example I only want to record a gameplay without any overlays or navigation bars.

[2022-06-28 05:35] pranitshirsath opened #120 "Can I hide the permission pop up which display before starting the recording"
The pop up which displays first before starting the recording which says this app will capture all the things display on your screen and when we click on start button then it's start recording.

so can we skip that part and directly start the recording, can anyone please provide me any solution on it.

[2022-06-28 05:41] HBiSoft commented on #119
Please see #115

[2022-06-28 05:41] #119 closed

[2022-06-28 05:44] HBiSoft commented on #120
No you can not. Screen recording must be done in a foreground service and to start a foreground service this notification gets shown by the operating system. There is no way of hiding this.

On older devices you can say, "don't show this again". But since Android 10, this is not possible.

[2022-06-28 05:44] #120 closed

[2022-06-28 05:47] HBiSoft commented on #118
Please run the demo application and provide me with the log after opening the application.

Also, please let me know what you set as your audio source?

[2022-06-30 06:28] HBiSoft commented on #118
I will reopen this issue once I get a response.

[2022-06-30 06:28] #118 closed

[2022-07-08 15:08] hemandroid opened #122 "Enable Audio Recording while video is in Progress"
Hi Team,

I tried using the plugin and when I enable the audio as default before video record starts. It's working perfectly, but before video recording starts, I disable the Audio and enabled it after starting the video recording. This time, video is not recording the audio.

I tried like below

[code]
Please suggest how to handle the audio recording along with Screen recording dynamically.

[2022-07-08 15:51] HBiSoft commented on #122
It's not currently possible, but shouldn't be hard to implement.

`hbRecorder.isAudioEnabled(isChecked)` is meant to be set before starting the recording.

I will have a look at it later today. I will let you know when I'm done adding it to the library.

[2022-07-11 07:16] hemandroid opened #123 "Screen Recording Pause, Resume and Stop Feature on Notification Panel."
Can we get the feature to pause, resume & stop the screen recording from the Notification Panel.

At the moment, even when we pause the screen recording, it was showing only Stop recording Button. Instead of Resume & Stop Recording options. Notification panel is not having that flexibility at the moment.

@HBiSoft Need support on these feature requests.

[2022-07-11 14:52] DiegoJRAleixandre opened #124 "Demo app not working on Android 12"
**Describe the bug**
Demo app not working on Android 12

**Log**
When downloading the .apk I cannot install it. When using abd to try and install it I get the following error:

adb: failed to install HBRecorderDemo.apk: Failure [INSTALL_PARSE_FAILED_MANIFEST_MALFORMED: Failed parse during installPackageLI: /data/app/vmdl274285536.tmp/base.apk (at Binary XML file line #27): com.hbisoft.hbrecorderex

[2022-07-14 12:37] damylolae opened #125 "Freezes /lags onstart hbrecorder"
**Describe the bug**
Didn't crash , but totally frooze UI, suspecting a memory leak, not sure because I tested it on a 1gb ram, 16gb (itel p33+)storage no issues at all, but another device having exactly same memory and CPU it lags (itel5001p).

**Log**
Nil

**Can it be reproduced in demo app**
Really don't know , users complaint

**HBRecorder version**
2.0.5

**Device information**
- itel5001p, t

[2022-07-14 12:52] meharunnisa414 opened #126 "HBrecoderonerror 38"
**Describe the bug**
when we start recording it gets stuck at one point and dont stop video and dont pause it. and give error 38.

**Log**
2022-07-14 17:47:20.139 20798-20825/? E/ActivityThread: Failed to find provider info for com.samsung.cmh
2022-07-14 17:47:20.140 20798-20825/? E/SecMediaProvider: failed to notify cmh
    java.lang.IllegalArgumentException: Unknown authority com.samsung.cmh

[2022-07-18 11:23] fahad00123 commented on #77
[khawajaetisam99](https://github.com/khawajaetisam99)
 thank you so much bro . i fix this problem after 2 days due to you. thanks a lot

[2022-07-21 13:07] Sohaib-Raza opened #127 "Caused by java.lang.NullPointerException"
READ THIS BEFORE OPENING AN ISSUE:
-----------------------

**Describe the bug**
 Attempt to invoke virtual method 'long android.content.Intent.getLongExtra(java.lang.String, long)' on a null object reference

**Log**
        com.hbisoft.hbrecorder.ScreenRecordService.onStartCommand (ScreenRecordService.java:119)
        android.app.ActivityThread.handleServiceArgs (ActivityThread.java:4415)

[2022-07-21 18:08] HBiSoft commented on #124
Thanks for letting me know. I will fix this in the next update.

[2022-07-21 18:11] HBiSoft commented on #125
Apologies for the late reply. Can you please try the previous release - https://github.com/HBiSoft/HBRecorder/releases/tag/2.0.4

[2022-07-21 18:12] HBiSoft commented on #126
What version of the library are you using?

[2022-07-21 18:19] HBiSoft commented on #127
Are you setting a max file size (`HBRecorder.setMaxFileSize(long)`)?

[2022-07-21 18:21] HBiSoft commented on #123
I will see if I can implement it in the next release.

[2022-07-22 05:00] Sohaib-Raza commented on #127
No, I am not seting the HBRecorder.setMaxFileSize(long). Its necessary?

[2022-07-25 15:00] ahmadbajwa0328 commented on #127
Fatal Exception: java.lang.RuntimeException: Unable to start service com.hbisoft.hbrecorder.ScreenRecordService@2ad934d with null: java.lang.NullPointerException: Attempt to invoke virtual method 'long android.content.Intent.getLongExtra(java.lang.String, long)' on a null object reference
       at android.app.ActivityThread.handleServiceArgs(ActivityThread.java:4813)
       at android.app.Activit

[2022-07-30 15:50] #122 closed

[2022-08-05 05:05] Sohaib-Raza commented on #127
I am still getting this error after set HBRecorder.setMaxFileSize(long)
I am using version 2.0.5

![1](https://user-images.githubusercontent.com/14075651/183005371-a27bcf0c-0937-44a7-b487-0cf670be85b5.PNG)
,

[2022-08-10 02:30] #125 closed

[2022-08-10 02:30] #124 closed

[2022-08-10 02:30] #126 closed

[2022-08-10 02:30] #123 closed

[2022-08-17 11:25] sofronovicnikola commented on #127
Please check #129

[2022-08-30 06:50] Shubhamgarg1072 commented on #81
I was trying your sample .But in device like oppo and real me its not  working.

[2022-08-30 10:14] limelect commented on #81
On my S6 it is Ok

[2022-09-05 12:12] hocesjc opened #130 "A record without sound fail with error 38 message 100"
**Describe the bug**
A record without sound fail with error 38 message 100
 hbRecorder.recordHDVideo(true)
hbRecorder.isAudioEnabled(false)

need to add
        hbRecorder.setAudioBitrate(128000);
        hbRecorder.setAudioSamplingRate(44100);

but it have sound disabled

thanks

**Can it be reproduced in demo app**
No

**HBRecorder version**
2.0.5

**Device information**
- Make/model One plus 5t

[2022-09-07 11:35] hocesjc commented on #130
finally it seems that the problem was a line hbRecorder.setMaxFileSize(Long.MAX_VALUE)

[2022-09-08 20:01] #127 closed

[2022-09-13 18:09] Zatoner commented on #104
Found a working combination for api 28 but impossible to find one on api 29... impossible to record on api 29

[2022-09-13 18:24] Zatoner opened #131 "HBRecorder not working (no matter the combination) on API 29"
Tried every possible setting on this emulator with API 29. Could not find any supported settings

**Can it be reproduced in demo app**
Yes

**HBRecorder version**
2.0.5

**Device information**
- Pixel 2 Emulator
- API 29

**Screenshots**

![image](https://user-images.githubusercontent.com/13482231/189980429-bbfd7acb-39f5-4116-ad0a-b3d2958eaecc.png)

[2022-09-16 10:27] wznshuai commented on #42
nice

[2022-09-24 03:46] #131 closed

[2022-09-24 03:46] #130 closed

[2022-10-06 13:38] umutaykol opened #132 "Xiaomi Redmi Note 8 Pro and Redmi Note 9 (M2003J15SS) DefaultVideoEncoder Bug"
Hello, I faced an issue with the phones which I wrote on Title. (Xiaomi Redmi Note 8 Pro and Redmi Note 9)

Default Video Encoder selection is not working on these devices. I solve this problem with code down below. For these devices i used H264 encoder instead DEFAULT

        /**
         * Solution for Xiaomi Redmi Note 8 Pro and Redmi Note 9 (M2003J15SS) DefaultVideoEncoder Bug
         */

[2022-10-18 23:19] #132 closed